&footer
{
	margin : 0px 0 45px;

	@{b}__item
	{
		display        : inline-block;
		vertical-align : top;
		margin         : 0 0 0 40px;

		a > .ico
		{
			visibility : hidden;
		}
		a:hover > .ico
		{
			visibility : visible;
		}
	}

	@media (max-width : @screen-sm-max)
	{
		margin     : 40px 0 15px;
		text-align : left !important;
		@{b}__item
		{
			margin         : 0 40px 0 0;
		}
	}

	@media (max-width : @screen-xs-max)
	{
		margin     : 30px 0 15px;
	}
}
