.video-embed
{
	@b: ~'.video-embed';

	position : relative;

	@{b}__inner
	{
		width    : 100%;
		padding  : 56.25% 0 0;
		height   : 0;
		overflow : hidden;
		display  : block;

		iframe,
		object,
		embed
		{
			position : absolute;
			top      : 0;
			right    : 0;
			bottom   : 0;
			left     : 0;
			width    : 100%;
			height   : 100%;
		}
	}
}
