.bootstrap-touchspin
{
	font-size : 0;
}

.bootstrap-touchspin .input-group-btn-vertical
{
	position       : relative;
	white-space    : nowrap;
	width          : 1%;
	vertical-align : middle;
	display        : table-cell;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn
{
	display     : block;
	float       : none;
	width       : 100%;
	max-width   : 100%;
	padding     : 8px 10px;
	margin-left : -1px;
	position    : relative;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up
{
	border-radius           : 0;
	border-top-right-radius : 4px;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down
{
	margin-top                 : -2px;
	border-radius              : 0;
	border-bottom-right-radius : 4px;
}

.bootstrap-touchspin .input-group-btn-vertical i
{
	position    : absolute;
	top         : 3px;
	left        : 5px;
	font-size   : 9px;
	font-weight : normal;
}

.bootstrap-touchspin .bootstrap-touchspin-up
{
	border-radius : 0 @border-radius-base  @border-radius-base 0;
	margin-left   : -1px;
}

.bootstrap-touchspin .bootstrap-touchspin-down
{
	border-radius : @border-radius-base  0 0 @border-radius-base;
	margin-right  : -1px;
}

.bootstrap-touchspin .form-control
{
}
