.call-to-action
{
	@b : ~".call-to-action";

	border        : 1px solid;
	color         : #A19F9D;
	font-family   : @font-family-base;
	font-size     : 23px;
	font-weight   : 300;
	line-height   : 29px;
	padding       : 55px 70px;
	text-align    : center;
	position      : relative;
	margin-bottom : 30px;

	@{b}__button
	{
		color            : #A19F9D;
		font-family      : @font-family-sans-serif-alt;
		font-size        : 21px;
		font-weight      : 300;
		text-transform   : uppercase;
		background-color : #141312;
		border           : 1px solid;
		display          : block;
		text-decoration  : none !important;
		text-align       : center;
		position         : absolute;
		bottom           : -30px;
		left             : 50%;
		margin           : 0;
		line-height      : 55px;
		padding          : 0 74px;
		transform        : translateX(-50%);
		white-space      : nowrap;

		&:hover
		{
			background-color : #777573;
			color            : #141312;
			border-color     : lighten(#777573, 10%);
		}
		&:active
		{
			background-color : #A19F9D;
			color            : #141312;
			border-color     : lighten(#A19F9D, 10%);
		}

		&:before
		{
			.size(30px, 9px);
			content    : '';
			background : #121111 url(~'@{imgPath}/nine-dot.png') 0 0 no-repeat;
			display    : block;
			position   : absolute;
			top        : 50%;
			left       : -31px;
			margin-top : -5px;
			z-index    : 10;
		}
		&:after
		{
			.size(30px, 9px);
			content    : '';
			background : #121111 url(~'@{imgPath}/nine-dot.png') 100% 0 no-repeat;
			display    : block;
			position   : absolute;
			top        : 50%;
			right      : -31px;
			margin-top : -5px;
			z-index    : 10;
		}
	}
}
