@{b}__title
{
	@e : ~'@{b}__title';
	font-family   : @font-family-serif;
	color         : #A19F9D;
	font-size     : 46px;
	line-height   : 40px;
	font-weight   : 400;
	margin-top    : 0;
	margin-bottom : 10px;

	&_upper
	{
		text-transform : uppercase;
	}

	@media (max-width : @screen-sm-max)
	{
		text-align : center !important;
	}
}
