.table
{
	@b: ~'.table';
	@import "./variables";

	width         : 100%;
	max-width     : 100%;
	margin-bottom : @line-height-computed;

	> thead,
	> tbody,
	> tfoot
	{
		> tr
		{
			> th,
			> td
			{
				padding        : @table-cell-padding;
				line-height    : @line-height-base;
				vertical-align : middle;
				border-top     : 1px solid @table-border-color;
			}
		}
	}

	@import "hover/include";

}
