.news-list
{
	@b : ~".news-list";

	@{b}__item
	{
		overflow : hidden;
		position : relative;
		&-image-outer
		{
			max-width : 100%;
			overflow  : hidden;
			position  : relative;
			z-index   : 2;
		}
		&-image
		{
			.img-grayscale();
			margin             : 0 auto;
			position           : relative;
			-webkit-transition : all 400ms;
			-moz-transition    : all 400ms;
			-ms-transition     : all 400ms;
			-o-transition      : all 400ms;
			transition         : all 400ms;
			z-index            : 1;
		}

		&-info
		{
			position        : relative;
			z-index         : 4;
			color           : #A19F9D !important;
			text-decoration : none !important;
			background      : #000;
			display         : block;
			margin          : -56px @grid-gutter-width/2 0;
			text-align      : center;
			padding         : 20px 25px 40px;
		}

		&-date
		{

			font-family   : @font-family-sans-serif;
			font-size     : 16px;
			font-weight   : 100;
			font-style    : italic;
			display       : block;
			margin-bottom : 5px;
		}

		&-name
		{
			display     : block;
			font-family : @font-family-serif;
			font-size   : 26px;
			font-weight : 400;
		}

		&:hover
		{
			@{b}__item-image
			{
				transform      : scale(1.12435678);
				filter         : none !important;
				-webkit-filter : none !important;
			}

			@{b}__item-info
			{
				color : lighten(#A19F9D,30%) !important;
			}
		}
	}

	@media (max-width : @screen-sm-max)
	{
		@{b}__item
		{
			margin-bottom : 25px;
			text-align    : center;
			&-info
			{
				z-index         : 4;
				color           : #A19F9D !important;
				text-decoration : none !important;
				background      : #000;
				display         : inline-block;
				margin          : -56px @grid-gutter-width/2 0;
				padding         : 23px 70px 38px;
			}
		}
	}
}
