/**
 * Owl Carousel v2.1.6
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */

.fadeOut
{
	animation-name : fadeOut;
}

@keyframes fadeOut
{
	0%
	{
		opacity : 1;
	}
	100%
	{
		opacity : 0;
	}
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height
{
	transition : height 500ms ease-in-out;
}

/*
 *  Owl Carousel - Core
 */
.owl-carousel
{
	@b : ~".owl-carousel";

	display                     : none;
	width                       : 100%;
	-webkit-tap-highlight-color : transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position                    : relative;
	z-index                     : 1;

	.owl-stage
	{
		position         : relative;
		-ms-touch-action : pan-Y;
		&:after
		{
			content     : ".";
			display     : block;
			clear       : both;
			visibility  : hidden;
			line-height : 0;
			height      : 0;
		}
	}

	.owl-stage-outer
	{
		position          : relative;
		overflow          : hidden;
		/* fix for flashing background */
		-webkit-transform : translate3d(0px, 0px, 0px);
	}

	.owl-item
	{
		position                    : relative;
		min-height                  : 1px;
		-webkit-backface-visibility : hidden;
		-webkit-tap-highlight-color : transparent;
		-webkit-touch-callout       : none;
		display                     : inline-block;
		vertical-align              : middle;
		float                       : none;
		img
		{
			display                 : block;
			width                   : 100%;
			-webkit-transform-style : preserve-3d;
		}
	}

	.owl-nav.disabled,
	.owl-dots.disabled
	{
		display : none;
	}

	.owl-nav .owl-next,
	.owl-nav .owl-prev
	{
		position           : absolute;
		top                : 50%;
		transform          : translate(0, -50%);
		-webkit-transition : all 250ms;
		-moz-transition    : all 250ms;
		-ms-transition     : all 250ms;
		-o-transition      : all 250ms;
		transition         : all 250ms;

		&:hover
		{
			.opacity(0.4);
		}
	}

	.owl-nav .owl-prev
	{
		padding-right : 20px;
		left          : -42px;

		.owl-carousel:hover &
		{
			left          : -52px;
			padding-right : 30px;
		}
	}

	.owl-nav .owl-next
	{
		padding-left : 20px;
		right        : -42px;

		.owl-carousel:hover &
		{
			right        : -52px;
			padding-left : 30px;
		}
	}
	.owl-nav .owl-prev,
	.owl-nav .owl-next,
	.owl-dot
	{
		cursor              : pointer;
		cursor              : hand;
		-webkit-user-select : none;
		-khtml-user-select  : none;
		-moz-user-select    : none;
		-ms-user-select     : none;
		user-select         : none;

		&.disabled
		{
			.opacity(0.4);
		}
	}

	&.owl-loaded
	{
		display : block;
	}

	&.owl-loading
	{
		opacity : 0;
		display : block;
	}

	&.owl-hidden
	{
		opacity : 0;
	}

	&.owl-refresh .owl-item
	{
		display : none;
	}

	&.owl-drag .owl-item
	{
		-webkit-user-select : none;
		-moz-user-select    : none;
		-ms-user-select     : none;
		user-select         : none;
	}

	&.owl-grab
	{
		cursor : move;
		cursor : grab;
	}

	&.owl-rtl
	{
		direction : rtl;
	}

	&.owl-rtl .owl-item
	{
		float : right;
	}

	/* No Js */
	.no-js &
	{
		display : block;
	}
	/*
	 *  Owl Carousel - Animate Plugin
	 */
	.animated
	{
		animation-duration  : 1000ms;
		animation-fill-mode : both;
	}

	.owl-animated-in
	{
		z-index : 0;
	}

	.owl-animated-out
	{
		z-index : 1;
	}

	/*
	 * 	Owl Carousel - Lazy Load Plugin
	 */
	.owl-item .owl-lazy
	{
		opacity    : 0;
		transition : opacity 400ms ease;
	}

	.owl-item img.owl-lazy
	{
		transform-style : preserve-3d;
	}

	/*
	 * 	Owl Carousel - Video Plugin
	 */
	.owl-video-wrapper
	{
		position   : relative;
		height     : 100%;
		background : #000;
	}

	.owl-video-play-icon
	{
		position                    : absolute;
		height                      : 80px;
		width                       : 80px;
		left                        : 50%;
		top                         : 50%;
		margin-left                 : -40px;
		margin-top                  : -40px;
		background                  : url("owl.video.play.png") no-repeat;
		cursor                      : pointer;
		z-index                     : 1;
		-webkit-backface-visibility : hidden;
		transition                  : transform 100ms ease;
	}

	.owl-video-play-icon:hover
	{
		-ms-transform : scale(1.3, 1.3);
		transform     : scale(1.3, 1.3);
	}

	.owl-video-playing .owl-video-tn,
	.owl-video-playing .owl-video-play-icon
	{
		display : none;
	}

	.owl-video-tn
	{
		opacity             : 0;
		height              : 100%;
		background-position : center center;
		background-repeat   : no-repeat;
		background-size     : contain;
		transition          : opacity 400ms ease;
	}

	.owl-video-frame
	{
		position : relative;
		z-index  : 1;
		height   : 100%;
		width    : 100%;
	}
	@import "theme/include";
}
