&@{b}_sidebar
{
	padding : 0;

	@{b}__item,
	@{b}__submenu-item
	{
		> a
		{
			font-family     : @font-family-sans-serif;
			font-size       : 18px;
			color           : #A19F9D;
			font-weight     : 100;
			border-bottom   : 1px solid;
			text-decoration : none !important;
			display         : block;
			padding         : 17px 0;
			position        : relative;
		}

		&:hover > a,
		&.active > a
		{
			color : #CCCBCA;
		}
		&.active
		{
			> a
			{
				font-weight : 300;
			}

			@{b}__submenu
			{
				display : block !important;
			}
		}

		&:last-child > a
		{
			border : 0;
			&:after
			{
				display : none;
			}
		}
	}

	@{b}__item
	{
		> a
		{
			&:after
			{
				.square(7px);
				content       : '';
				border-radius : 7px;
				background    : #655943;
				position      : absolute;
				bottom        : -4px;
				right         : 0;
			}
		}

		&_parent.active > a
		{
			border-bottom-color : transparent;
			&:after
			{
				display : none;
			}
		}
	}
	@{b}__submenu
	{
		display        : none;
		list-style     : none;
		margin         : 0;
		padding        : 0 0 0 22px;

		text-transform : lowercase;

		&-item
		{
			> a
			{
				padding : 8px 0;
			}

			&.active > a:before,
			&:hover > a:before
			{
				content       : '';
				.square(5px);
				display       : block;
				border-radius : 3px;
				background    : #A19F9D;
				position      : absolute;
				left          : -14px;
				top           : 50%;
				margin-top    : -1px;
			}
		}

	}
}
