&get-in-touch
{
	margin      : 30px auto 105px;
	font-weight : 300;
	background  : #E3E3E3;
	padding     : 45px 55px;
	max-width   : 460px;

	@{b}__name
	{
		margin-bottom : 15px;
	}

	.form-group
	{
		margin     : 2px 0;
		background : #FFF;
		position   : relative;

		label
		{
			display : block;
		}
		input.form-control
		{
			display          : inline-block;
			padding          : 15px;
			border-radius    : 10px;
			height           : auto;
			background-color : transparent;
			border           : none !important;
			box-shadow       : none;
			vertical-align   : middle;
			color            : #3C3C3C;
		}
		.form-control-icon
		{
			position          : absolute;
			right             : 15px;
			top               : 50%;
			-webkit-transform : translateY(-50%);
			-moz-transform    : translateY(-50%);
			-ms-transform     : translateY(-50%);
			-o-transform      : translateY(-50%);
			transform         : translateY(-50%);
			display           : inline-block;
		}
		@{b}__submit
		{
			margin-top     : 11px;
			font-weight    : 900;
			font-size      : 18px;
			text-transform : uppercase;
			color          : #3C3C3C;
			z-index        : 5;
		}

		&_car
		{
			margin : 0;

			.car
			{
				z-index  : 1;
				position : absolute;
				left     : -100%;
				top      : 0;
				margin   : -30px 0 0;
				display  : block;

				img
				{
					display   : block;
					max-width : 100%;
					height    : auto;
				}
			}
		}
	}

	@media (max-width : @screen-sm-max)
	{
		padding       : 30px;
		margin-bottom : 150px;
		.form-group_car .car
		{
			left   : 0;
			top    : 10px;
			margin : 0;
		}
	}
}
