&white
{
	border-color : transparent;
	color        : #949494 !important;
	background   : @brand-white;

	&:hover,
	&:focus
	{
		background : lighten(@brand-white, 5%);

	}

	&@{b}_active,
	&:active
	{
		box-shadow : inset 3px 3px 2px darken(@brand-white, 5%);
		background : darken(@brand-white, 4%);
	}
}
