@{b}__view-mode
{
	vertical-align : top;

	li
	{
		a
		{
			.square(30px);
			border-radius : 30px;
			border        : 1px solid #E5E5E5;
			display       : block;
			text-align    : center;
			line-height   : 32px;
			background    : #FFF;
			overflow      : hidden;

			&:after
			{
				content : '';
				display : inline-block;
			}
		}

		&.grid
		{
			a:after
			{
				.sprite(@icon-grid);
			}

			&:hover a:after,
			&.active a:after
			{
				.sprite-position(@icon-grid-active);
			}
		}
		&.list
		{
			a:after
			{
				.sprite(@icon-list-dotted);
			}

			&:hover a:after,
			&.active a:after
			{
				.sprite-position(@icon-list-dotted-active);
			}
		}

		&:hover a,
		&.active a
		{
			border-color : #FF443F;
		}
	}
}
