.menu-links
{
	@b: ~'.menu-links';

	&__list
	{
		padding    : 0;
		margin     : 0;
		list-style : none;
	}

	&__item
	{
		position : relative;

		&:hover > @{b}__submenu
		{
			visibility : visible;
			top        : 100%;
			opacity    : 1;
		}
	}

	@import "mod/include";
}
