.button
{
	@b : ~'.button';

	a&
	{
		text-decoration : none !important;
	}

	display        : inline-block;
	position       : relative;
	padding        : 5px 10px;
	outline        : none;
	border         : 1px solid transparent;
	font-size      : @font-size-base;
	vertical-align : middle;
	transition     : background 600ms;
	border-radius  : 3px;

	&_wide
	{
		display : block;
		width   : 100% !important;
	}

	&_rounded
	{
		border-radius : 6*2+@line-height-computed+2;
	}

	&_strong
	{
		border-radius : 0 !important;
	}

	&_bold
	{
		font-weight : bold;
	}

	@import 'mod/include';
}
