.form
{
	@b : ~".form";

	@import "mods/include";

	&__control_checkbox
	{
		position : absolute;
		.opacity(0);
		margin   : 0 !important;

		& + &-fallback
		{
			.square(13px);
			display        : inline-block;
			vertical-align : baseline;
			border         : 1px solid #CCD;
			overflow       : hidden;
		}
		&:checked + &-fallback:before
		{
			display       : block;
			content       : '';
			width         : 8px;
			height        : 5px;
			border-left   : 2px solid @brand-warning;
			border-bottom : 2px solid @brand-warning;
			transform     : rotate(-45deg);
			margin        : 2px auto;
		}
	}
}
