&@{b}_list
{
	z-index       : 1;
	background    : #F9F9F9;
	display       : table;
	width         : 100%;
	transition    : box-shadow 500ms ease;
	margin-bottom : 20px;

	@{b}__container
	{
		display : table-row;
	}

	@{b}__preview-info
	{
		color        : #656565;
		background   : #FFF;
		font-size    : 12px;
		display      : table-cell;
		width        : 70%;
		padding      : 25px 0;
		border-right : 1px solid #D9D9D9;
	}

	@{b}__labels
	{
		position : absolute;
		top      : 8px;
		left     : 8px;
	}

	@{b}__title
	{
		font-size       : 18px;
		color           : #003D91;
		text-decoration : underline;
		text-transform  : uppercase;
	}

	@{b}__subtitle
	{
		color         : #999;
		font-size     : 10px;
		margin-bottom : 15px;
	}

	@{b}__codes,
	@{b}__short-description,
	@{b}__options
	{
		font-size   : 12px;
		line-height : 18px;
	}

	@{b}__codes
	{
		color         : #656565;
		margin-bottom : 40px;
	}

	@{b}__short-description,
	@{b}__options
	{
		color : #333;
	}

	@{b}__sale-block
	{
		display        : table-cell;
		vertical-align : top;
		padding        : 5px 5px 0 20px;
		border-left    : 1px solid #FFF;
	}

	@{b}__action
	{
		&_buy
		{
			@{b}__quantity
			{
				width          : 50px;
				margin-right   : 20px;
				text-align     : center;
				.inline-block();
				vertical-align : middle;

				.input-group
				{
					margin : 0 -12px;
				}

				.btn,
				&-value
				{
					.square(25px);
					font-size       : 13px;
					border-radius   : 2px;
					padding         : 3px;
					text-decoration : none;
				}

				&-value
				{
					font-size   : 11px;
					text-align  : center;
					margin-left : 1px;
					border      : 1px solid #D9D9D9;
					background  : #F9F9F9;
				}

				.btn:focus
				{
					border : 1px dotted #CCC;
				}
				.btn:hover
				{
					background : rgba(255, 255, 255, 0.4);
				}
			}
		}
	}

	&:hover
	{
		box-shadow : 2px 3px 10px rgba(0, 0, 0, .35);
	}
}
