/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@ico-dots-bg-name: ico_dots_bg;
@ico-dots-bg-x: 0px;
@ico-dots-bg-y: 0px;
@ico-dots-bg-offset-x: 0px;
@ico-dots-bg-offset-y: 0px;
@ico-dots-bg-width: 13px;
@ico-dots-bg-height: 7px;
@ico-dots-bg-total-width: 33px;
@ico-dots-bg-total-height: 68px;
@ico-dots-bg-image: '../i/bg/sprite.png';
@ico-dots-bg: 0px 0px 0px 0px 13px 7px 33px 68px '../i/bg/sprite.png' ico_dots_bg;
@ico-ic-calendar-name: ico_ic-calendar;
@ico-ic-calendar-x: 0px;
@ico-ic-calendar-y: 34px;
@ico-ic-calendar-offset-x: 0px;
@ico-ic-calendar-offset-y: -34px;
@ico-ic-calendar-width: 33px;
@ico-ic-calendar-height: 34px;
@ico-ic-calendar-total-width: 33px;
@ico-ic-calendar-total-height: 68px;
@ico-ic-calendar-image: '../i/bg/sprite.png';
@ico-ic-calendar: 0px 34px 0px -34px 33px 34px 33px 68px '../i/bg/sprite.png' ico_ic-calendar;
@ico-ic-times-name: ico_ic-times;
@ico-ic-times-x: 0px;
@ico-ic-times-y: 7px;
@ico-ic-times-offset-x: 0px;
@ico-ic-times-offset-y: -7px;
@ico-ic-times-width: 27px;
@ico-ic-times-height: 27px;
@ico-ic-times-total-width: 33px;
@ico-ic-times-total-height: 68px;
@ico-ic-times-image: '../i/bg/sprite.png';
@ico-ic-times: 0px 7px 0px -7px 27px 27px 33px 68px '../i/bg/sprite.png' ico_ic-times;
@spritesheet-width: 33px;
@spritesheet-height: 68px;
@spritesheet-image: '../i/bg/sprite.png';
@spritesheet-sprites: @ico-dots-bg @ico-ic-calendar @ico-ic-times;
@spritesheet: 33px 68px '../i/bg/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  &.@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
