@imgPath : '../i/bg';
@fontsPath : '../fonts';
@font-family-sans-serif : Arial, Helvetica, sans-serif;
@font-family-sans-serif-alt : Verdana, Arial, Helvetica, sans-serif;

@font-family-serif : Oranienbaum, serif;
@font-family-base : Arial, Helvetica, sans-serif;
@font-size-base : 16px;
@font_p: 'ProximaNova';

@border-radius-small : 3px;
@border-radius-base : 4px;
@border-radius-large : 6px;

@text-color : #A19F9D;
@brand-primary : #A19F9D;
@brand-success : #35CA66;
@brand-info : #AEAEAE;
@brand-warning : #FFC300;
@brand-danger : #F47B7A;
@brand-gray : #F6F6F6;
@brand-gray_eee : #EEE;
@brand-silver : #E8E8E8;
@brand-darkgray : #323232;
@brand-white : #FFF;
@brand-green : #51B749;

@tooltip-color : @brand-success;
@tooltip-arrow-color : @brand-success;

@zindex-tooltip : 9999;
@grid-gutter-width : 30px;

// Small screen / tablet
@container-tablet : (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm : @container-tablet;

// Medium screen / desktop
@container-desktop : (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md : @container-desktop;

// Large screen / wide desktop
@container-large-desktop : (1170px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg : @container-large-desktop;

//** Placeholder text color
@input-color-placeholder : #414141;
