.heading
{
	@b : ~".heading";

	font-size      : 16px;
	font-weight    : 600;
	text-transform : uppercase;

	&_size-sm
	{
		font-size : 14px;
	}
	&_size-md
	{
		font-size : 18px;
	}
	&_size-lg
	{
		font-size : 20px;
	}
	&_size-fifty
	{
		font-size : 50px;
	}

	@import "mod/include";
}
