<div class="b-activities-nav">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="row b-activities-nav__list">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="b-activities-nav__item">
							<a class="activity-image" href="#">
								<img src="i/src/activity_img_1.png" alt=""/>
							</a>
							<a class="activity-text" href="#">
								<span class="activity-title">
									SpringBox
								</span>
								<span class="text-center icon_link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="b-activities-nav__item">
							<a class="activity-image" href="#">
								<img src="i/src/activity_img_2.png" alt=""/>
							</a>
							<a class="activity-text" href="#">
								<span class="activity-title">
									ArtBox
								</span>
								<span class="text-center icon_link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="b-activities-nav__item">
							<a class="activity-image" href="#">
								<img src="i/src/activity_img_3.png" alt=""/>
							</a>
							<a class="activity-text" href="#">
								<span class="activity-title">
									SoccerBox
								</span>
								<span class="text-center icon_link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="b-activities-nav__item">
							<a class="activity-image" href="#">
								<img src="i/src/activity_img_4.png" alt=""/>
							</a>
							<a class="activity-text" href="#">
								<span class="activity-title">
									PartyBox
								</span>
								<span class="text-center icon_link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="b-activities-nav__item">
							<a class="activity-image" href="#">
								<img src="i/src/activity_img_5.png" alt=""/>
							</a>
							<a class="activity-text" href="#">
								<span class="activity-title">
									Adventure Zone
								</span>
								<span class="text-center icon_link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="b-activities-nav__item">
							<a class="activity-image" href="#">
								<img src="i/src/activity_img_6.png" alt=""/>
							</a>
							<a class="activity-text" href="#">
								<span class="activity-title">
									Teen Zone
								</span>
								<span class="text-center icon_link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
