<footer class="page__footer">
	<div class="b-posts-instagram">
		<div class="b-posts-instagram__title">
			#almazaar
		</div>
		<div class="clearfix">
			<div class="b-posts-instagram__item">
				<a href="#">
					<img src="i/src/soc__img_1.png" alt=""/>
				</a>
			</div>
			<div class="b-posts-instagram__item">
				<a href="#">
					<img src="i/src/soc__img_2.png" alt=""/>
				</a>
			</div>
			<div class="b-posts-instagram__item">
				<a href="#">
					<img src="i/src/soc__img_3.png" alt=""/>
				</a>
			</div>
			<div class="b-posts-instagram__item">
				<a href="#">
					<img src="i/src/soc__img_4.png" alt=""/>
				</a>
			</div>
			<div class="b-posts-instagram__item">
				<a href="#">
					<img src="i/src/soc__img_5.png" alt=""/>
				</a>
			</div>
		</div>
	</div>
	<div class="b-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<div class="row">
						<div class="col-xs-6">
							<div class="footer-menu">
								<div class="footer-menu__title">
									Information
								</div>
								<ul>
									<li>
										<a href="#">About us</a>
									</li>
									<li>
										<a href="#">Activities</a>
									</li>
									<li>
										<a href="#">Education Workshops</a>
									</li>
									<li>
										<a href="#">Specialty Car Exhibition</a>
									</li>
									<li>
										<a href="#">Latest News</a>
									</li>
									<li>
										<a href="#">Contact Us & Booking</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="footer-menu">
								<div class="footer-menu__title">
									About the Website
								</div>
								<ul>
									<li>
										<a href="#">Terms and Conditions</a>
									</li>
									<li>
										<a href="#">Sale of Tickets Terms</a>
									</li>
									<li>
										<a href="#">Privacy Policy</a>
									</li>
									<li>
										<a href="#">Cookie Policy</a>
									</li>
									<li>
										<a href="#">Accessibility</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
					<div class="row">
						<div class="col-xs-4">
							<div class="footer-menu">
								<div class="footer-menu__title">Social Media</div>
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
											Facebook
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
											Twitter
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
											Instagram
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-8">
							<div class="footer-menu">
								<div class="footer-menu__title">Contact Us</div>
								<ul>
									<li class="address">
										<span>
											Barr Al Jissah Resort Company <br>
											P.O. Box 644. Muscat 113 <br>
											Sultanate of Oman
										</span>
									</li>
									<br>
									<li class="call">
										<a href="tel:96823224432">
											Call us: +968 2 322 4432
										</a>
									</li>
									<li>
										<a href="mailto:info@almazaar.com">
											Email us: info@almazaar.com
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-3">
					<div class="footer-menu">
						<div class="footer-menu__title">Keep in touch</div>
						<div class="footer-menu__span">Keep up to date with monthly <br>emails from Al Mazaar</div>
						<div class="footer-form">
							<form action="">
								<input placeholder="Email address" type="email"/>
								<button>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="b-copyright">
		<div class="container">
			<span>Al Mazaar © 2017. All Rights Reserved. </span>
		</div>
	</div>
</footer>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
