<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<meta charset="utf-8">
<link rel="stylesheet" href="css/styles.css"/>
<link rel="stylesheet" href="css/responsive.css"/>
<link rel="icon" sizes="16x16 24x24 32x32 48x48 128x128" href="i/src/logotype.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
