<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-12">
				<div class="b-logotype text-center">
					<a href="#">
						<img src="i/src/logotype.png" alt=""/>
					</a>
				</div>
			</div>
			<div class="sticy_top col-xs-12 col-sm-12 col-md-4 col-lg-offset-8 col-lg-4">
				<div class="header-top-item">
					<div class="b-calendar-link text-right">
						<a href="#">
							See What’s On
							<i class="ico ico_ic-calendar"></i>
						</a>
					</div>
					<div class="b-information-header text-right">
						<div class="b-information-header__item">
							<i class="ico ico_ic-times"></i>
							Open Daily 09:00 - 20:00
						</div>
						<div class="b-information-header__item contact">
							Book Tickets
							<a href="tel:96824776856">+968 2 477 6856</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="header-down">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
				<div class="b-navigation">
					<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar el1"></span>
									<span class="icon-bar el2"></span>
									<span class="icon-bar el3"></span>
								</button>

							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>
										<a href="#">About Us</a>
									</li>
									<li>
										<a href="#">Activities</a>
										<ul>
											<li>
												<a href="#">SpringBox</a>
											</li>
											<li>
												<a href="#">ArtBox</a>
											</li>
											<li>
												<a href="#">SoccerBox</a>
											</li>
											<li>
												<a href="#">PartyBox</a>
											</li>
											<li>
												<a href="#">Adventure Zone</a>
											</li>
											<li>
												<a href="#">Teen Zone</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">Educational Workshops</a>
									</li>
									<li>
										<a href="#">Specialty Car Exhibition</a>
									</li>
									<li>
										<a href="#">Latest News</a>
									</li>
									<li>
										<a href="#">Contact Us & Booking</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
				<div class="b-social-header">
					<a target="_blank" href="#">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
					<a target="_blank" href="#">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>
					<a target="_blank" href="#">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
