&maroon
{
	@background: #0f0600;

	border-color : transparent;
	color        : #a19f9d !important;
	background   : @background;

	&:hover,
	&:focus
	{
		background : lighten(@background, 5%);

	}
	&@{b}_active,
	&:active
	{
		box-shadow : inset 3px 3px 2px darken(@background, 5%);
		background : darken(@background, 4%);
	}
}
