.logotype
{
	@width: 216px;
	@height: 74px;

	@b: ~'.logotype';

	margin    : 0;
	padding   : 0;
	font-size : @font-size-base;

	@{b}__link
	{
		display         : block;
		text-decoration : none;
		text-indent     : -999px;
		overflow        : hidden;
	}

	@import "mod/include";
}
