.catalog-sections
{
	@b : ~".catalog-sections";

	list-style : none;
	padding    : 0;
	margin     : 35px 25px 40px;

	li
	{
		display      : inline-block;
		margin-right : 5%;
		a
		{
			font-size      : 21px;
			font-weight    : 100;
			text-transform : lowercase;
		}

		&.active a
		{
			color : #CCCBCA;
			&:before
			{
				.square(5px);
				margin-right   : 7px;
				content        : '';
				display        : inline-block;
				vertical-align : middle;
				background     : #CCCBCA;
				border-radius  : 5px;
			}
		}
	}
}
