.main-profile
{
	@b : ~".main-profile";
	&__form-field
	{
		margin-bottom : 45px;
	}
	&__form-label
	{
		color       : #A19F9D;
		font-family : @font-family-sans-serif;
		font-size   : 18px;
		font-weight : 100;
		display     : block;
		//margin-bottom : 13px;
	}
	&__inputbox,
	&__textarea,
	&__button
	{
		color          : #A19F9D;
		font-family    : @font-family-sans-serif-alt;
		font-size      : 21px;
		font-weight    : 300;
		line-height    : 28px;
		text-transform : uppercase;
		background     : transparent;
		display        : block;
		max-width      : 100%;
		width          : 100%;
		border         : 1px solid;
		outline        : none
	}
	&__inputbox
	{
		border        : 0;
		border-bottom : 1px solid;
		padding       : 7px 0;
	}
	&__textarea
	{
		padding    : 5px 15px;
		min-height : 90px;
	}

	&__button
	{
		padding : 15px 0;

		@background : #353535;

		&:hover,
		&:focus
		{
			background : lighten(@background, 5%);

		}
		&:active
		{
			box-shadow : inset 3px 3px 2px darken(@background, 5%);
			background : darken(@background, 4%);
		}
	}
}
