.main-banners
{
	@b: ~'.main-banners';

	list-style : none;
	padding    : 0;
	margin     : 0 0 20px;

	@{b}__item
	{
		display    : block;
		background : #FFF;
		box-shadow : 2px 1px 10px rgba(136, 136, 136, .35);
		padding    : 20px;
		position   : relative;
		overflow   : hidden;
		text-align : right;

		&-title
		{
			text-align     : left;
			z-index        : 10;
			display        : block;
			position       : absolute;
			left           : 20px;
			top            : 20px;

			color          : #656565;
			font-size      : 16px;
			font-weight    : bold;
			text-transform : uppercase;

		}

		&-picture
		{
			display   : inline-block;
			height    : 120px;
			max-width : 55%;

			img
			{
				max-height : 100%;
				max-width  : 100%;
			}
		}
	}
}
