.super-carousel
{
	@b : ~".super-carousel";

	@{b}__title
	{
		color       : #A19F9D;
		font-family : @font-family-serif;
		font-size   : 40px;
		font-weight : 400;
		line-height : 61px;
	}

	@{b}__list
	{
		margin-top : 60px;

		.owl-item
		{
			vertical-align : top !important;
		}
	}

	@media (max-width : @screen-sm-max)
	{
		padding : 0 40px;

		.owl-nav .owl-next
		{
			right : -30px !important;
		}

		.owl-nav .owl-prev
		{
			left : -30px !important;
		}
	}

	@media (max-width : @screen-xs-max)
	{
		.owl-nav .owl-next,
		.owl-nav .owl-prev
		{
			display : none;
		}
	}
}
