&modern
{
	color          : #2B2A28;
	font-size      : 18px;
	margin-bottom  : 20px;
	font-weight    : 900;
	text-transform : uppercase;

	&:after
	{
		content    : '';
		display    : block;
		width      : 30px;
		border-top : 4px solid @brand-primary;
		margin-top : 15px;
	}
}
