&header
{
	padding        : 32px 0 0;
	display        : inline-block;
	vertical-align : top;

	.logo-size(@width, @height) {
		background-size : @width @height;
		.size(@width, @height);
	}

	@{b}__link
	{
		background         : url(~"@{imgPath}/logotype.png") no-repeat 0 0;
		.logo-size(@width, @height);
		-webkit-transition : all 350ms;
		-moz-transition    : all 350ms;
		-ms-transition     : all 350ms;
		-o-transition      : all 350ms;
		transition         : all 350ms;
	}

	@media (max-width : @screen-sm-max)
	{
		margin  : 15px 0 0 50px;
		padding : 0;
	}
	@media (max-width : @screen-xs-max)
	{
		display : block;
	}
}
