.breadcrumb
{
	background  : none;
	padding     : 0;
	margin      : 0 0 25px;
	font-size   : 14px;
	font-weight : 400;

	li
	{
		color : #009;

		+ li:before
		{
			content : "/";
			padding : 0;
			color   : #009;
		}

		&:first-child a
		{
			text-decoration : underline;
		}

		a
		{
			color           : inherit;

			&:hover
			{
				text-decoration : none;
				color           : #2B2A28;
			}
		}
	}
	.active
	{
		color : #2B2A28;
		a
		{
			text-decoration : none;
		}
	}

}
