&gray
{
	@background: #EAEAEA;

	border-color : transparent;
	color        : #323232 !important;
	background   : @background;

	&:hover,
	&:focus
	{
		background : darken(@background, 4%);

	}
	&@{b}_active,
	&:active
	{
		box-shadow : inset 3px 3px 2px darken(@background, 10%);
		background : darken(@background, 8%);
	}
}
