&misura
{
	@{b}__item
	{
		&-description
		{
			width          : 100%;
			max-width      : 602px;
			margin         : -95px auto 0;
			padding-bottom : 110px;
		}
	}

	.bx-wrapper .bx-controls .bx-pager
	{
		bottom : 22px;

		&:before
		{
			content    : '';
			background : url(~'@{imgPath}/decoration-2.png') 0 0 no-repeat;
			.size(230px, 17px);
			display    : block;
			margin     : 0 auto 15px;
		}
	}

}
