html, body
{
	height : 100%;
}

.page
{
	@b : ~'.page';
	margin      : 0 !important;
	padding     : 0;
	font-size   : @font-size-base;
	font-weight : 400;
	background  : #141312 url('@{imgPath}/main-bg.png') 0 0 repeat-y;

	@{b}__wrapper
	{
		min-height     : 100%;
		position       : relative;
		padding-bottom : 297px;
	}

	@{b}__content
	{
		position    : relative;
		height      : 100%;
		line-height : 24px;
		font-size   : 14px;
		font-weight : 300;
	}

	&@{b}_main
	{
		@{b}__content
		{
			padding-top   : 0;
			margin-bottom : 0;
		}
	}

	@media (max-width : @screen-sm-max)
	{
		background : #0D0B0A;
	}

	@import "elements/header/include";
	@import "elements/title/include";
	@import "elements/footer/include";

}
