&detail
{
	position      : relative;
	margin-bottom : 70px;

	@{b}__title
	{
		margin      : 0 0 35px;
		color       : #A19F9D;
		font-family : @font-family-serif;
		font-size   : 30px;
		font-weight : 400;
	}

	@{b}__images
	{
		position : relative;
		.bx-wrapper
		{
			margin : 0 !important;
			img
			{
				margin : 0 auto;
			}
		}

		&-main
		{
			margin : 0 auto 16px;
		}

		@{b}__image-preview[aria-hidden="false"] > a
		{
			position : relative;
			display  : block;

			&:before
			{
				content    : '';
				background : url(~'@{imgPath}/product-zoom.png') 0 0 no-repeat;
				position   : absolute;
				right      : 0;
				top        : 0;
				display    : block;
				z-index    : 40;
				.square(72px);
			}
			&:hover::before
			{
				background-image : url(~'@{imgPath}/product-zoom_hover.png');
			}
			&:active::before
			{
				background-image : url(~'@{imgPath}/product-zoom_active.png');
			}
		}

		&-thumbs
		{
			position : relative;
			margin   : 0 -10px;

			@{b}__image-thumb
			{
				border         : 0;
				display        : inline-block;
				float          : none !important;
				vertical-align : top;
				max-height     : 122px;
				max-width      : 144px;
				margin         : 16px 10px 0;
				overflow       : hidden;

				img
				{
					.img-grayscale();
				}

				&.active img,
				&:hover img
				{
					-webkit-filter : none;
					filter         : none;
				}
			}
		}
	}

	@{b}__description
	{
		color         : #BBB;
		font-family   : @font-family-base;
		margin-bottom : 25px;
		p
		{
			font-size   : 21px;
			font-weight : 300;
		}

		font-size     : 18px;
		font-weight   : 100;
		line-height   : 22px;

		ul
		{
			margin     : 25px 0;
			padding    : 0 0 0 10px;
			list-style : none;

			li
			{
				margin-bottom : 5px;
				&:before
				{
					content        : '';
					border         : 2px solid;
					border-radius  : 4px;
					display        : inline-block;
					height         : 0px;
					vertical-align : top;
					margin         : 10px 6px 0 -10px;
				}
			}
		}
	}

	@{b}__option
	{
		margin-bottom : 18px;

		&-name
		{
			color       : inherit;
			font-family : @font-family-sans-serif;
			font-size   : 18px;
			font-weight : 100;
			line-height : 22px;
			padding     : 5px 0;
		}

		&_price
		{
			@{b}__price
			{
				font-size   : 21px;
				font-family : @font-family-base;
				font-weight : 300;
			}
		}
		&_size
		{
			color : #7D7D7D;

			&:hover
			{
				color : #BBB;
			}
		}

		&_color
		{
			color         : #BBB;
			margin-bottom : 45px;
		}
	}
	@{b}__size
	{
		&-button
		{
			border-top      : 1px solid #989694;
			color           : inherit;
			font-family     : @font-family-sans-serif;
			font-size       : 18px;
			font-weight     : 100;
			line-height     : 22px;
			display         : block;
			position        : relative;
			text-decoration : none;
			padding         : 5px 0;

			&:after
			{
				content       : '';
				display       : block;
				position      : absolute;
				right         : 5px;
				top           : 50%;
				margin-top    : -12px;
				width         : 17px;
				height        : 17px;
				border-bottom : 1px solid #A19F9D;
				border-right  : 1px solid #A19F9D;
				transform     : rotate(45deg);
				transition    : margin 280ms;
			}

			&:hover:after,
			&[aria-expanded=true]:after
			{
				margin-top : -10px;
			}
		}
		&-list
		{
			background    : #2A2928 !important;
			padding       : 0 !important;
			border-radius : 0;
			overflow      : hidden;
			width         : 100%;
			border-top    : 1px solid #989694;
		}
		&-item
		{
			text-align    : center;
			position      : relative;
			float         : left;
			display       : block;
			border-top    : 1px solid #989694;
			border-bottom : 1px solid #989694;
			cursor        : pointer;
			margin        : -1px 0;
			width         : unit(100/6, %);
			> span
			{
				display     : block;
				z-index     : 2;
				color       : #BBB;
				font-family : @font-family-base;
				font-size   : 18px;
				background  : #272625;
				font-weight : 100;
				padding     : 8px 2px;
			}
			&:active > span,
			&:hover > span,
			> input:checked + span
			{
				font-weight : 400;
			}
			> input[type=radio]
			{
				position   : absolute;
				visibility : hidden;
				z-index    : 1;
			}
		}
	}
	@{b}__color
	{
		&-item
		{
			position     : relative;
			display      : inline-block;
			cursor       : pointer;
			margin-right : 10px;

			> span
			{
				display : block;
				color   : #BBB;

				img
				{
					border-top : 1px solid transparent;
					width      : 64px;
					height     : 19px;
					display    : block;
				}
			}

			&-name
			{
				display     : block;
				font-family : @font-family-base;
				font-size   : 14px;
				font-weight : 100;
				line-height : 22px;
			}

			&:active > span,
			&:hover > span,
			> input:checked + span
			{
				color       : #C8C8C8;
				font-weight : 300;
			}
			> input:checked + span > img
			{
				border-top-color : #BBB;
			}
			> input[type=radio]
			{
				position   : absolute;
				visibility : hidden;
				z-index    : 1;
			}
		}
	}

	@{b}__button-order
	{
		color            : #A19F9D;
		font-family      : @font-family-sans-serif;
		font-size        : 21px;
		font-weight      : 300;
		text-transform   : uppercase;
		line-height      : 48px;
		background-color : #141312;
		border           : 1px solid;
		display          : block;
		padding          : 0 10px;
		margin           : 50px 0 100px;
		text-decoration  : none !important;
		text-align       : center;

		&:hover
		{
			background-color : #777573;
			color            : #141312;
			border-color     : lighten(#777573, 10%);
			font-weight      : 400;
		}
		&:active
		{
			background-color : #A19F9D;
			font-weight      : 400;
			color            : #141312;
			border-color     : lighten(#A19F9D, 10%);
		}
	}

	@{b}__share
	{
		> span
		{
			color       : #B7B7B7;
			font-family : @font-family-base;
			font-size   : 14px;
			font-weight : 100;
			line-height : 18px;
		}

		&-list
		{
			margin-top : 5px;
			display    : block;
		}
	}

	.super-carousel
	{
		margin : 110px 0 150px;
	}

	@{b}__service-order
	{
		margin-bottom : 150px;
	}
	// tablet
	@media screen and (max-width : @screen-sm-max)
	{
		@{b}__title
		{
			font-size   : 30px;
			font-weight : 400;
			margin      : 0 25px 30px;
		}

		@{b}__images
		{
			margin : 0 -15px;
			&-thumbs
			{
				margin     : 0;
				text-align : center;

				@{b}__image-thumb
				{
					.square(8px);
					margin                : 5px 3px;
					border                : 1px solid #A19F9D;
					-webkit-border-radius : 8px;
					-moz-border-radius    : 8px;
					border-radius         : 8px;

					&.active
					{
						background : #A19F9D;
					}
					img
					{
						display : none;
					}
				}
			}
		}

		@{b}__information
		{
			margin : 40px 25px 0;
		}

		@{b}__description
		{
			margin-bottom : 75px;
		}

		@{b}__options
		{
			max-width      : 270px;
			display        : inline-block;
			margin-right   : 50px;
			vertical-align : bottom;
		}

		@{b}__share
		{
			display        : inline-block;
			vertical-align : bottom;
			margin-top     : 50px;
		}

		@{b}__button-order
		{
			margin : 0;
		}

		.super-carousel
		{
			padding : 0 25px;
			margin  : 80px 0 110px;
			&__list
			{
				margin-top : 30px;
			}
		}

		.call-to-action
		{
			margin : 0 -15px;
		}
	}
}
