.text-input
{
	@b : ~'.text-input';

	display        : inline-block;
	vertical-align : middle;
	position       : relative;

	@{b}__control
	{
		width            : 195px;
		background-color : #FFF;
		border           : 0;
		height           : 34px;
		color            : #888;
		font-size        : 13px;
		font-style       : italic;
		font-weight      : 300;
		padding          : 11px 9px;
		margin           : 0;
		display          : inline-block;
		border           : 1px solid #888;
		border-right     : 0;
		&:focus
		{
			border-color : #FFC300;
			outline      : none;
		}
	}
	@{b}__button
	{
		margin-left      : -5px;
		vertical-align   : bottom;
		display          : inline-block;
		width            : 34px;
		height           : 34px;
		line-height      : 10px;
		background-color : #009;
		border           : 0;
	}

	.text-error
	{
		font-size : 12px;
		color     : #FF7D90;
	}

	&_fullwidth
	{
		display       : block;
		padding-right : 34px;
		position      : relative;

		@{b}__control
		{
			width : 100%;
		}
		@{b}__button
		{
			position : absolute;
			right    : 0;
			top      : 0;
		}
	}
}
