/*! Select2 Bootstrap Theme v0.1.0-beta.4 | MIT License | github.com/select2/select2-bootstrap-theme */

//
// Variables
// --------------------------------------------------

// @see https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_forms.scss#L128
@form-control-transition: border-color ease-in-out .15s;

// Custom variables
// -------------------------

@dropdown-arrow-color: @input-color-placeholder;
@clear-selection-color: #4C4C4C;

//
// Mixins
// --------------------------------------------------

// @see https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_forms.scss#L115
.workly-input-defaults() {
	background-color: #FFF;
	border:           1px solid @brand-silver;
	border-radius:    4px;
	color:            #B2B2B2;
	font-family:      @font-family-base;
	font-size:        @font-size-base;
}

// @see http://getbootstrap.com/css/#forms-control-validation
// @see https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_forms.scss#L388
.validation-state-focus(@color) {

	.select2-dropdown,
	.select2-selection
	{
		border-color: @color;
	}

	.select2-container--focus .select2-selection,
	.select2-container--open .select2-selection
	{
		border-color: darken(@color, 10%);
	}

	&.select2-drop-active
	{
		border-color: darken(@color, 10%);

		&.select2-drop.select2-drop-above
		{
			border-top-color: darken(@color, 10%);
		}
	}
}

.select2-container--workly
{
	@padding-base-vertical: (30 - @font-size-base*@line-height-base)/2;

	display: block;
	/*------------------------------------*\
			#COMMON STYLES
	\*------------------------------------*/

	.select2-selection
	{
		.workly-input-defaults;
		outline: 0;
	}

	/**
	 * Search field in the Select2 dropdown.
	 */

	.select2-search--dropdown
	{
		.select2-search__field
		{
			.workly-input-defaults;
		}
	}

	/**
	 * No outline for all search fields - in the dropdown
	 * and inline in multi Select2s.
	 */

	.select2-search__field
	{
		outline: 0;

		&::-webkit-input-placeholder
		{
			color: @input-color-placeholder;
		}

		/* Firefox 18- */
		&:-moz-placeholder
		{
			color: @input-color-placeholder;
		}

		/**
		 * Firefox 19+
		 *
		 * @see http://stackoverflow.com/questions/24236240/color-for-styled-placeholder-text-is-muted-in-firefox
		 */
		&::-moz-placeholder
		{
			color:   @input-color-placeholder;
			opacity: 1;
		}

		&:-ms-input-placeholder
		{
			color: @input-color-placeholder;
		}
	}

	/**
	 * Adjust Select2's choices hover and selected styles to match
	 * Bootstrap 3's default dropdown styles.
	 *
	 * @see http://getbootstrap.com/components/#dropdowns
	 */

	.select2-results__option
	{
		color:       #4C4C4C;
		font-size:   14px;
		line-height: 40px;
		padding:     0 20px;
		border-top:  1px solid @brand-silver;

		&[role=group]
		{
			padding: 0;
		}

		/**
		 * Disabled results.
		 *
		 * @see https://select2.github.io/examples.html#disabled-results
		 */

		&[aria-disabled=true]
		{
			color:  @dropdown-link-disabled-color;
			cursor: @cursor-disabled;
		}

		/**
		 * Hover state.
		 */

		&[aria-selected=true]
		{
			background-color: #F6F6E9;
		}

		/**
		 * Selected state.
		 */

		&--highlighted[aria-selected]
		{
			background-color: #F6F6E9;
		}

		.select2-results__option
		{
			padding: @padding-base-vertical @padding-base-horizontal;

			.select2-results__group
			{
				padding-left: 0;
			}

			.select2-results__option
			{
				margin-left:  -@padding-base-horizontal;
				padding-left: @padding-base-horizontal*2;

				.select2-results__option
				{
					margin-left:  -@padding-base-horizontal*2;
					padding-left: @padding-base-horizontal*3;

					.select2-results__option
					{
						margin-left:  -@padding-base-horizontal*3;
						padding-left: @padding-base-horizontal*4;

						.select2-results__option
						{
							margin-left:  -@padding-base-horizontal*4;
							padding-left: @padding-base-horizontal*5;

							.select2-results__option
							{
								margin-left:  -@padding-base-horizontal*5;
								padding-left: @padding-base-horizontal*6;
							}
						}
					}
				}
			}
		}
	}

	.select2-results__group
	{
		color:       @dropdown-header-color;
		display:     block;
		padding:     @padding-base-vertical @padding-base-horizontal;
		font-size:   @font-size-small;
		line-height: 30px;
		white-space: nowrap;
	}

	&.select2-container--focus,
	&.select2-container--open
	{
		.select2-selection
		{
			.transition(@form-control-transition);
			border-color: @brand-success;
		}

		.select2-selection .select2-selection__arrow b
		{
			color: @brand-success;
		}
	}

	&.select2-container--open
	{
		/**
		 * Make the dropdown arrow point up while the dropdown is visible.
		 */

		.select2-selection .select2-selection__arrow
		{
			transform:   rotate(180deg);
			margin-top:  -2px;
			right:       (30px - 16)/2+1;
		}

		/**
		 * Handle border radii of the container when the dropdown is showing.
		 */

		&.select2-container--below
		{
			.select2-selection
			{
				.border-bottom-radius(0);
				border-bottom-color: transparent;
			}
		}

		&.select2-container--above
		{
			.select2-selection
			{
				.border-top-radius(0);
				border-top-color: transparent;
			}
		}
	}

	/**
	 * Clear the selection.
	 */

	.select2-selection__clear
	{
		color:        @clear-selection-color;
		cursor:       pointer;
		float:        right;
		font-weight:  bold;
		margin-right: 10px;

		&:hover
		{
			color: #333;
		}
	}

	/**
	 * Address disabled Select2 styles.
	 *
	 * @see https://select2.github.io/examples.html#disabled
	 * @see http://getbootstrap.com/css/#forms-control-disabled
	 */

	&.select2-container--disabled
	{

		.select2-selection
		{
			border-color: #FFF;
		}

		.select2-selection,
		.select2-search__field
		{
			cursor: @cursor-disabled;
		}

		.select2-selection--multiple .select2-selection__choice
		{
			background-color: @brand-success;
		}

		.select2-selection__clear,
		.select2-selection--multiple .select2-selection__choice__remove
		{
			display: none;
		}
	}

	/*------------------------------------*\
			#DROPDOWN
	\*------------------------------------*/
	/**
	 * Dropdown border color
	 */

	.select2-dropdown
	{
		border-color: @brand-success;
		overflow-x:   hidden;
		margin-top:   -1px;
		&--above
		{
			margin-top: 1px;
		}
	}

	/**
	 * Limit the dropdown height.
	 */

	.select2-results > .select2-results__options
	{
		max-height: 200px;
		overflow-y: auto;
	}

	/*------------------------------------*\
			#SINGLE SELECT2
	\*------------------------------------*/

	.select2-selection--single
	{
		height:      30px;
		line-height: @line-height-base;
		padding:     @padding-base-vertical @padding-base-horizontal + @caret-width-base*3 @padding-base-vertical @padding-base-horizontal;
		/**
		 * Adjust the single Select2's dropdown arrow button appearance.
		 */

		.select2-selection__arrow
		{
			position:    absolute;
			bottom:      0;
			right:       (30px - 16)/2;
			top:         0;
			font-size:   16px;
			line-height: 30px;
			color:       #888;

			b:before
			{
				font-family:             "fontello";
				font-style:              normal;
				font-weight:             normal;
				display:                 inline-block;
				text-decoration:         inherit;
				width:                   1.01em;
				text-align:              center;
				font-variant:            normal;
				text-transform:          none;
				line-height:             1em;
				-webkit-font-smoothing:  antialiased;
				-moz-osx-font-smoothing: grayscale;
				content:                 '\ea5b';
			}
		}

		.select2-selection__rendered
		{
			color:   @input-color;
			padding: 0;
		}

		.select2-selection__placeholder
		{
			color: @input-color-placeholder;
		}
	}

	/*------------------------------------*\
		#MULTIPLE SELECT2
	\*------------------------------------*/

	.select2-selection--multiple
	{
		min-height: 30px;

		.select2-selection__rendered
		{
			box-sizing:    border-box;
			display:       block;
			line-height:   30px;
			list-style:    none;
			margin:        0;
			overflow:      hidden;
			padding:       0;
			width:         100%;
			text-overflow: ellipsis;
			white-space:   nowrap;
		}

		.select2-selection__placeholder
		{
			color:      @input-color-placeholder;
			float:      left;
			margin-top: 5px;
		}

		/**
		 * Make Multi Select2's choices match Bootstrap 3's default button styles.
		 */

		.select2-selection__choice
		{
			color:         #FFF;
			background:    @brand-success;
			border:        1px solid @brand-success;
			border-radius: 4px;
			cursor:        default;
			float:         left;
			margin:        3px 0 0 3px;
			height:        24px;
			padding:       0 @padding-base-vertical;
			font-size:     @font-size-base;
			line-height:   22px;
		}

		/**
		 * Minus 2px borders.
		 */

		.select2-search--inline
		{
			.select2-search__field
			{
				background:  transparent;
				padding:     0 @padding-base-horizontal;
				height:      30px;
				line-height: 30px;
				margin-top:  0;
				min-width:   5em;
			}
		}

		.select2-selection__choice__remove
		{
			float:       right;
			color:       #FFF;
			cursor:      pointer;
			display:     inline-block;
			font-weight: bold;
			margin-left: @padding-base-vertical / 2;
		}

		/**
		 * Clear the selection.
		 */

		.select2-selection__clear
		{
			margin-top: @padding-base-vertical;
		}
	}

	/*------------------------------------*\
		#RTL SUPPORT
	\*------------------------------------*/

	&[dir="rtl"]
	{
		/**
		 * Single Select2
		 *
		 * 1. Makes sure that .select2-selection__placeholder is positioned
		 *    correctly.
		 */

		.select2-selection--single
		{
			padding-left:  @padding-base-horizontal + @caret-width-base*3;
			padding-right: @padding-base-horizontal;
			.select2-selection__rendered
			{
				padding-right: 0;
				padding-left:  0;
				text-align:    right; /* 1 */
			}

			.select2-selection__clear
			{
				float: left;
			}

			.select2-selection__arrow
			{
				left:  @padding-base-horizontal;
				right: auto;
			}
		}

		/**
		 * Multiple Select2
		 */

		.select2-selection--multiple
		{
			.select2-selection__choice,
			.select2-selection__placeholder
			{
				float: right;
			}

			.select2-selection__choice
			{
				margin-left:  0;
				margin-right: @padding-base-horizontal/2;
			}

			.select2-selection__choice__remove
			{
				margin-left:  2px;
				margin-right: auto;
			}
		}
	}
}

/*------------------------------------*\
    #ADDITIONAL GOODIES
\*------------------------------------*/

/**
 * Address Bootstrap's validation states
 *
 * If a Select2 widget parent has one of Bootstrap's validation state modifier
 * classes, adjust Select2's border colors and focus states accordingly.
 * You may apply said classes to the Select2 dropdown (body > .select2-container)
 * via JavaScript match Bootstraps' to make its styles match.
 *
 * @see http://getbootstrap.com/css/#forms-control-validation
 */

.has-warning
{
	.validation-state-focus(@state-warning-text);
}

.has-error
{
	.validation-state-focus(@state-danger-text);
}

.has-success
{
	.validation-state-focus(@state-success-text);
}

/**
 * Select2 widgets in Bootstrap Input Groups
 *
 * When Select2 widgets are combined with other elements using Bootstraps
 * "Input Group" component, we don't want specific edges of the Select2
 * container to have a border-radius.
 *
 * Use .select2-bootstrap-prepend and .select2-bootstrap-append on
 * a Bootstrap 3 .input-group to let the contained Select2 widget know which
 * edges should not be rounded as they are directly followed by another element.
 *
 * @see http://getbootstrap.com/components/#input-groups
 */

/**
 * Mimick Bootstraps .input-group .form-control styles.
 *
 * @see https://github.com/twbs/bootstrap/blob/master/less/input-groups.less
 */

.b-form-group .select2-container--workly
{
	display:       table;
	table-layout:  fixed;
	position:      relative;
	z-index:       2;
	float:         left;
	width:         100%;
	margin-bottom: 0;
}

.input-group.select2-workly-prepend .select2-container--workly
{
	.select2-selection
	{
		.border-left-radius(0);
	}
}

.input-group.select2-workly-append .select2-container--workly
{
	.select2-selection
	{
		.border-right-radius(0);
	}
}

/**
 * Adjust alignment of Bootstrap buttons in Bootstrap Input Groups to address
 * Multi Select2's height which - depending on how many elements have been selected -
 * may grow taller than its initial size.
 *
 * @see http://getbootstrap.com/components/#input-groups
 */

.select2-workly-append,
.select2-workly-prepend
{
	.select2-container--workly,
	.input-group-btn,
	.input-group-btn .btn
	{
		vertical-align: top;
	}
}

/**
 * Temporary fix for https://github.com/select2/select2-bootstrap-theme/issues/9
 *
 * Provides `!important` for certain properties of the class applied to the
 * original `<select>` element to hide it.
 *
 * @see https://github.com/select2/select2/pull/3301
 * @see https://github.com/fk/select2/commit/31830c7b32cb3d8e1b12d5b434dee40a6e753ada
 */

.b-form-group .select2-hidden-accessible
{
	position: absolute !important;
	width:    1px !important;
}

/**
 * Display override for inline forms
*/

.b-form-inline .select2-container--workly
{
	display: inline-block;
}
