&product
{
	display        : inline-block;
	vertical-align : middle;
	font-size      : 0;
	margin         : 0;
	padding        : 0;

	@{b}__item
	{
		margin         : 0 10px 0 0;
		display        : inline-block;
		vertical-align : top;
		.opacity(0.8);
		&:hover
		{
			.opacity(1);
		}
	}
}
