.news-detail
{
	@b : ~".news-detail";
	margin-bottom : 50px;

	@{b}__title
	{
		color          : #A19F9D;
		font-family    : @font-family-serif;
		font-size      : 46px;
		font-weight    : 400;
		text-transform : uppercase;
		line-height    : 1;
		margin-bottom  : 30px;
	}
	@{b}__date
	{
		text-align    : center;
		color         : #A19F9D;
		font-family   : @font-family-sans-serif;
		font-size     : 16px;
		font-weight   : 100;
		font-style    : italic;
		line-height   : 25px;
		margin-bottom : 45px;

	}
	@{b}__picture
	{
		background-color : #1D1C1C;
		box-shadow       : 0 0 57px #0F0600;
	}

	@{b}__text
	{
		color       : #A19F9D;
		font-family : @font-family-sans-serif;
		font-size   : 16px;
		font-weight : 300;
		line-height : 22px;
	}
}
