.main-slider
{
	@b : ~".main-slider";
	overflow : hidden;

	&__item
	{
		position : relative;

		&-about
		{
			z-index            : 10;
			position           : absolute;
			width              : 100%;
			top                : -500px;
			left               : 120px;
			margin-top         : -25px;
			-webkit-transform  : translateY(-50%);
			-moz-transform     : translateY(-50%);
			-ms-transform      : translateY(-50%);
			-o-transform       : translateY(-50%);
			transform          : translateY(-50%);
			-webkit-transition : all 400ms;
			-moz-transition    : all 400ms;
			-ms-transition     : all 400ms;
			-o-transition      : all 400ms;
			transition         : all 400ms;
			transition-delay   : 1ms;
			.container
			{
				overflow : hidden;
			}
		}

		&-title
		{
			display        : inline-block;
			text-transform : uppercase;
			padding        : 12px 20px;
			font-size      : 18px;
			font-weight    : bold;
			line-height    : 22px;
			color          : #FFF;
			background     : rgba(32, 32, 182, 0.9);
		}

		&-text
		{
			max-width     : 390px;
			font-size     : 16px;
			padding       : 28px 20px;
			line-height   : 22px;
			color         : #FFF;
			background    : rgba(0, 0, 153, 0.9);
			margin-bottom : 20px;
			position      : relative;

			.read-more
			{
				position    : absolute;
				bottom      : -20px;
				right       : 0;
				padding     : 9px 18px;
				font-weight : bold;
			}
		}

		&[aria-hidden=false]
		{
			@{b}__item-about
			{
				top              : 50%;
				transition-delay : 300ms;
			}
		}
	}

	@media (max-width : @screen-xs-max)
	{
		@{b}__item
		{
			&-about
			{
				position          : relative;
				top               : 0;
				left              : 0;
				right             : 0;
				margin            : 0;
				-webkit-transform : none;
				-moz-transform    : none;
				-ms-transform     : none;
				-o-transform      : none;
				transform         : none;
			}

			&-title
			{
				display      : block;
				margin-left  : -(@grid-gutter-width/2);
				margin-right : -(@grid-gutter-width/2);
			}
			&-text
			{
				margin-left  : -(@grid-gutter-width/2);
				margin-right : -(@grid-gutter-width/2);
				max-width    : none;
			}
		}
	}
}
