@import (reference) "lib/include";
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
	.b-logotype a
	{
		display  : inline-block;
		position : relative;
		left     : -73px;
	}

	.header-down ul li a
	{
		font-size : 18px;
	}
}

/*==========  Non-Mobile First Method  ==========*/

@media only screen and (max-width : 1440px)
{

}

@media only screen and (max-width : 1668px)
{

}

@media only screen and (max-width : 1613px)
{

}

@media only screen and (min-width : 1400px)
{
	.b-content__ellipse .image
	{
		right : 6%;
	}

	.b-content .image_content
	{
		left : -160px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1299px)
{

}

@media only screen and (max-width : 1200px)
{
	.sticy_top
	{
		width : 100%;
	}

	.b-news__list .b-calendar_list
	{
		top : 0;
	}

	.b-news__list .b-tab__content .b-content__title
	{
		margin-bottom : 10px;
		margin-top    : 10px;
	}

	.b-calendar_list ul li
	{
		margin-bottom : 5px;
	}

	.header-top .col-lg-12
	{
		width : 100%;
	}

	.b-information-header__item
	{
		font-size : 14px;
	}

	.b-information-header__item.contact
	{
		font-size : 18px;
	}

	.ico.ico_ic-times
	{
		width                   : 20px;
		height                  : 20px;
		background-position     : 0 -4px;
		-webkit-background-size : 100%;
		background-size         : 100%;
	}

	.header-down ul li
	{
		padding : 10px 10px 10px 15px;

		a
		{
			font-size : 16px;
		}
	}

	.b-social-header a
	{
		font-size    : 13px;
		margin-top   : 10px;
		margin-right : 5px;
	}

	.b-TopBanner .item, .b-TopBanner
	{
		height : 400px;
	}

	.owl-dots .owl-dot
	{
		width  : 15px;
		height : 15px;
	}

	.b-links_block__title
	{
		font-size     : 27px;
		line-height   : 25px;
		margin-bottom : 10px;
	}

	.b-links_block__link i
	{
		font-size : 19px;
		top       : 2px;
		left      : 3px;
	}

	.b-footer
	{
		padding : 25px 0;
	}

	.b-footer .col-xs-12
	{
		width : 50%;
	}

	.b-footer .col-xs-12:last-child
	{
		width : 100%;

		.footer-menu
		{
			width  : 350px;
			margin : 10px auto 0 auto;
		}
	}

	.b-content__ellipse .image img
	{
		width : 50%;
	}

	.b-content__square .col-md-1, .b-content__ellipse .col-md-1, .b-content__ellipse .col-md-5, .b-content__square .col-md-5
	{
		width : 100%;

		.image_content
		{
			left : auto;
			top  : auto;
		}
	}

	.b-content__text img
	{
		width : 250px !important;
	}

	.b-content__text .text-right
	{
		text-align : center !important;
	}

	.b-content__square .image
	{
		position   : relative;
		right      : 0;
		text-align : center;

		img
		{
			width : 250px;
		}
	}

	.b-content .col-md-8, .b-content .col-md-6
	{
		width : 100%;
	}

	.top_image
	{
		margin-top : 20px;

		img
		{
			width : 250px;
		}
	}

	.b-content__text ul li
	{
		list-style    : none;
		font-size     : 16px;
		line-height   : 25px;
		margin-bottom : 10px;
		position      : relative;
		padding-left  : 0;

		&:before
		{
			display : none;
		}
	}

	.b-content .location_map
	{
		margin-top    : 15px;
		margin-bottom : 20px;

		span
		{
			width : auto !important;
		}
	}

	.beauty_wrap
	{
		.b-content__ellipse .image, .image_down
		{
			display : none;
		}

		.beauty_bg_1
		{
			background : #FD8204;
		}
	}

	.b-news__list .b-title__h1
	{
		margin : 30px 0;
	}

	.b-news__list .image
	{
		display : none;
	}
}

@media only screen and (max-width : 1024px)
{
	.b-links_block__title
	{
		font-size     : 20px;
		line-height   : 20px;
		margin-bottom : 10px;
	}

	.b-content__ellipse .backgroud
	{
		position      : absolute;
		width         : 100%;
		height        : 400%;
		top           : 0;
		left          : 0;
		border-radius : 0;
		z-index       : -1;
	}

	.b-content__ellipse .image
	{
		position   : relative;
		right      : auto;
		text-align : center;

		img
		{
			width : 210px;
		}
	}

	.b-content
	{
		padding : 35px 0;
	}

	.b-content__title
	{
		font-size     : 28px;
		line-height   : 30px;
		margin-bottom : 10px;
	}

	.b-content__text
	{
		font-size : 16px;
	}

	.b-content .image_content_right
	{
		width      : 50%;
		display    : inline-block;
		text-align : center;
	}

	.b-content__square, .b-content__ellipse
	{
		text-align : center;
	}

	.beauty_wrap
	{
		.b-education-block-item__title
		{
			font-size : 16px;
		}

		.b-education-block-item__text
		{
			color       : #FFF;
			font-size   : 14px;
			width       : 100%;
			margin-top  : 16px;
			line-height : 16px;
			position    : relative;
			bottom      : 0;
			font-weight : 400;
		}

		.b-education-block-item__down:after
		{
			display : none;
		}

	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
{
	.b-calendar-link a
	{
		font-size   : 15px;
		font-weight : 400;
		padding     : 10px 10px 5px 10px;
	}

	.ico.ico_ic-calendar
	{
		background-position : 0 -22px;
		width               : 22px;
		background-size     : 100%;
		height              : 23px;
	}

	.b-information-header__item
	{
		font-size : 13px;
	}

	.b-information-header__item.contact
	{
		font-size : 15px;
	}

	.b-logotype
	{
		text-align : left;

		img
		{
			width : 137px;
		}
	}

	.sticy_top
	{
		margin-top : -202px;
	}

	.header-down ul li:after
	{
		display : none;
	}

	.header-down ul li a
	{
		font-size : 13px;
	}

	.header-down ul li
	{
		padding-left  : 10px !important;
		padding-right : 10px;
	}

	.header-down .col-lg-1
	{

		position   : fixed;
		top        : 30%;
		background : #00B8CE;
		left       : 0;
		width      : auto;
		padding    : 0 10px;
		margin-top : -38px;
		z-index    : 99999;
	}

	.b-social-header a
	{
		margin-right : 0;
		display      : block;
		font-size    : 16px;
		margin-top   : 5px;
	}

	.b-TopBanner .item, .b-TopBanner
	{
		height : 350px;
	}

	.b-activities-nav__item .activity-text
	{
		font-size : 18px;
	}

	.b-activities-nav__list .col-lg-4
	{
		width : 33.3%;
	}

	.b-activities-nav__item .activity-image
	{
		margin-bottom : 0;
	}

	.b-activities-nav__item .activity-text .icon_link i
	{
		top       : 6px;
		font-size : 20px;
	}

	.b-activities-nav__item .activity-text .icon_link
	{
		width  : 35px;
		height : 35px;
	}

	.b-news__list .b-title__h1
	{
		margin    : 15px 0;
		font-size : 26px;
	}

	.b-TopBanner.one_image .item_image img
	{
		margin-top : 0;
	}

	.contact_information a i
	{
		width       : 30px;
		height      : 30px;
		font-size   : 15px;
		line-height : 30px;
	}

	.contact_information .social_link
	{
		margin-bottom : 10px;
	}

	.contact_information .image_content_right
	{
		height     : 300px;
		margin-top : 10px;
	}
}

/* small devices, tablets */
@media only screen and (max-width : 767px)
{
	.sticy_top
	{
		margin-top : -120px;
	}

	.b-calendar-link
	{
		margin-bottom : 15px;
	}

	.b-logotype img
	{
		width : 80px;
	}

	.b-information-header__item.contact
	{
		font-size : 13px;
	}

	.ico.ico_ic-calendar
	{
		background-position : 0 -18px;
		width               : 18px;
		background-size     : 100%;
		height              : 19px;
	}

	.b-calendar-link a
	{
		font-size : 13px;
	}

	.header-top
	{
		padding : 20px 0;
	}

	.navbar-toggle
	{
		position      : relative;
		float         : right;
		margin-right  : 5px;
		padding       : 9px 10px;
		background    : none !important;
		margin-top    : 10px;
		margin-bottom : 4px;
		border        : 0;
		border-radius : 0;
	}

	.navbar-toggle .icon-bar
	{
		width            : 28px;
		height           : 3px;
		background-color : #00B8CE !important;
		border-radius    : 0;
	}

	.b-navigation
	{
		background-color : transparent;
		margin-top       : -50px;
		ul
		{
			background-color : #00B8CE;
			text-align       : center;
			padding          : 10px 0;
			margin           : 0;

			li
			{
				padding     : 5px 0 !important;
				line-height : 29px;

				ul
				{
					position         : relative;
					left             : 0;
					top              : 0;
					border-top       : 0;
					background-color : #F7B523;
					width            : 100%;

					li
					{
						line-height : 18px;
					}
				}
				a
				{
					font-size : 15px;

					&:hover
					{
						&:after
						{
							display : none;
						}
					}
				}
			}
		}
	}

	.header-down .col-lg-11
	{
		padding : 0;
	}

	.b-TopBanner .item, .b-TopBanner
	{
		height : 300px;
	}

	.owl-dots .owl-dot
	{
		width  : 10px;
		height : 10px;
	}

	.b-links_block .col-sm-4
	{
		width : 33.3%;
	}

	.b-links_block__title
	{
		font-size     : 17px;
		line-height   : 18px;
		margin-bottom : 5px;
	}

	.b-links_block__link i
	{
		font-size : 12px;
		top       : 1px;
		left      : 3px;
	}

	.b-links_block__item
	{
		padding : 10px 0;
	}

	.b-links_block__link
	{
		font-size : 12px;
	}

	.b-activities-nav__item .activity-title
	{
		font-size : 16px;
		padding   : 7px 15px;
	}

	.b-activities-nav
	{
		padding          : 15px 0;
		border-top-width : 5px;
	}

	.b-posts-instagram__title
	{
		font-size     : 20px;
		margin-bottom : 5px;
	}

	.b-posts-instagram
	{
		padding : 10px 0;
	}

	.b-posts-instagram:before
	{
		-webkit-background-size : 9px;
		background-size         : 9px;
	}

	.b-footer .footer-menu__title
	{
		font-size : 13px;
	}

	.b-footer .footer-menu ul li a, .b-footer .footer-menu ul li span
	{
		font-size : 13px;
	}

	.b-footer .footer-menu__span
	{
		font-size : 13px;
	}

	.b-footer .col-xs-12:last-child .footer-menu
	{
		width : 250px;
	}

	.b-footer .footer-form input
	{
		font-size : 13px;
		padding   : 5px;
	}

	.b-footer .footer-form button
	{
		font-size : 22px;
		width     : 25px;
	}

	.b-content__title
	{
		font-size   : 24px;
		line-height : 24px;
	}

	.b-content__text
	{
		font-size : 14px;
	}

	.b-content__text br
	{
		line-height : 15px;
	}

	.b-content .image_content_right.background_block:before
	{
		display : none;
	}

	.b-content .image_content_right.background_block
	{
		margin-top : 0;
	}

	.b-education-block .b-activities-nav__list
	{
		margin-bottom : 15px;
	}

	.beauty_wrap .b-education-block-item__text
	{
		font-size  : 12px;
		margin-top : 5px;
	}
}

@media only screen and (max-width : 640px)
{
	.b-TopBanner .item, .b-TopBanner
	{
		height : 200px;
	}

	.booking_block li
	{
		font-size : 12px !important;
	}

	.contact_information .image_content_right
	{
		width : 100% !important;
	}

	.b-links_block__title
	{
		font-size     : 15px;
		line-height   : 15px;
		margin-bottom : 0px;
	}

	.b-activities-nav__list .col-lg-4
	{
		width   : 33.3%;
		padding : 0;
	}

	.b-activities-nav__item .activity-title
	{
		font-size : 14px;
		padding   : 9px 15px 0 10px;
	}

	.b-activities-nav__item
	{
		margin-bottom : 0;
	}

	.b-activities-nav__list
	{
		padding : 5px 5px 5px;
	}

	.b-content__title
	{
		font-size   : 17px;
		line-height : 17px;
	}

	.b-content__text
	{
		font-size   : 12px;
		line-height : 14px;
	}

	.b-content
	{
		padding      : 10px 0;
		border-width : 5px;
	}

	.b-content .image_content_right
	{
		border-width : 5px;
	}

	.b-content__ellipse .image img, .b-content .image_content img, .b-content .image_content_right
	{
		width : 70%;
	}

	.location_map img
	{
		width : 200px !important;
	}

	.b-content__text ul li
	{
		font-size   : 12px;
		line-height : 14px;
	}

	.art_walls .b-content__text
	{
		font-size : 12px;
	}

	.activity-slider
	{
		border-width : 5px;
	}

	.activity-slider .owl-prev
	{
		width                   : 30px;
		height                  : 30px;
		-webkit-background-size : 100%;
		background-size         : 100%;
		left                    : 0 !important;
	}

	.activity-slider .owl-next
	{
		width                   : 30px;
		height                  : 30px;
		-webkit-background-size : 100%;
		background-size         : 100%;
		right                   : 0 !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
{
	.b-TopBanner .item, .b-TopBanner
	{
		height : 150px;
	}

	.b-footer .footer-menu ul li.call
	{
		padding : 10px;
	}

	.b-footer .footer-menu ul li.call a
	{
		font-size : 15px;
	}

	.b-posts-instagram
	{
		padding-bottom : 0;
	}

	.b-posts-instagram:before
	{
		display : none;
	}

	.b-footer .col-xs-12
	{
		margin-bottom : 10px;
	}

	.owl-dots .owl-dot
	{
		width  : 5px;
		height : 5px;
	}

	.b-links_block__title
	{
		font-size   : 13px;
		line-height : 13px;
	}

	.b-links_block__link i
	{
		font-size : 10px;
	}

	.b-links_block__link
	{
		font-size : 10px;
	}

	.b-activities-nav__item .activity-text .icon_link
	{
		display : none;
	}

	.b-activities-nav__item .activity-title
	{
		font-size  : 12px;
		padding    : 5px 0;
		text-align : center;
		display    : block;
	}

	.b-activities-nav__list .col-lg-4
	{
		width : 50%;
	}

	.b-posts-instagram__item
	{
		width : 50%;
	}

	.b-footer .col-xs-12, .b-footer .col-xs-4, .b-footer .col-xs-8, .b-footer .col-xs-6
	{
		width      : 100%;
		text-align : center;
	}

	.b-footer .footer-menu ul li a, .b-footer .footer-menu ul li span
	{
		font-size : 11px;
	}

	.b-footer .footer-menu br
	{
		display : none;
	}

	.b-education-block .b-activities-nav__list .col-lg-4
	{
		width : 100%;
	}

	.b-education-block-item__down
	{
		min-height : 1px;
	}

	.b-news__list .b-title__h1
	{
		margin    : 5px 0;
		font-size : 20px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
{
}

@media (max-width : 1367px) and (min-width : 1366px)
{

}

@media only screen and (min-width : 1400px)
{

}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (-o-min-device-pixel-ratio : 3/2), only screen and (min--moz-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
{
	input, textarea
	{
		background-image : -webkit-gradient(linear, 0 0, 0 100%, from(hsla(0, 0%, 100%, 0)), to(hsla(0, 0%, 100%, 0)));
		background-image : -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
		border-radius    : 0;
		box-shadow       : none
	}
}
