// ****
// **** import Variables and Mixins
// ****
@import "lib/include";
@import "lib/typography";
@import "lib/helpers";
@import "lib/sprite";
/*
* @author <ALTIBAEV AMAL> maroon775@gmail.com
* @version 1.0.0
*/
// ****
// **** //TODO import new frontend
// ****
@import "blocks/include";
@import "components/include";

.ico
{
	display        : inline-block;
	vertical-align : middle;
	.sprites(@spritesheet-sprites);
}

/*
* @author <ALTIBAEV AMAL> maroon775@gmail.com
* @version 1.0.0
*/
.font-include('ProximaNova', ~'@{fontsPath}/ProximaNova/light', normal, 100);
.font-include('ProximaNova', ~'@{fontsPath}/ProximaNova/regular', normal, 300);
.font-include('ProximaNova', ~'@{fontsPath}/ProximaNova/semibold', normal, 400);
.font-include('ProximaNova', ~'@{fontsPath}/ProximaNova/bold', normal, 500);
.font-include('ProximaNova', ~'@{fontsPath}/ProximaNova/black', normal, 800);

body
{
	font-family : @font_p;
	font-weight : 300;
}

.b-calendar-link
{
	margin-bottom : 120px;
	a
	{
		display          : inline-block;
		*display         : inline;
		*zoom            : 1;
		background-color : #008EC3;
		color            : #FFF;
		font-size        : 18px;
		font-weight      : 400;
		padding          : 15px 20px 10px 15px;
		text-decoration  : none;

		&:hover
		{
			background-color : #F0831F;
		}

		.ico
		{
			position       : relative;
			top            : -4px;
			margin-left    : 5px;
			vertical-align : bottom;
		}
	}

}

.b-information-header
{
	&__item
	{
		font-size   : 18px;
		color       : #00B8CE;
		font-weight : 400;

		&.contact
		{
			font-size  : 22px;
			margin-top : 5px;

			a
			{
				color           : #00B8CE;
				text-decoration : none;

				&:hover
				{
					color           : #00B8CE;
					text-decoration : none;
				}
			}
		}
	}
}

.header-top
{
	padding : 30px 0;
}

.sticy_top
{
	margin-top : -230px;
	position   : relative;
	top        : -1px;
}

.header-down
{
	background-color : #00B8CE;

	.b-navigation
	{

		.navbar
		{
			min-height : 1px;
		}

		div, nav
		{
			background-color : transparent !important;
			border           : 0 !important;
			border-radius    : 0 !important;
			padding          : 0 !important;
			margin           : 0 !important;
		}
	}

	ul
	{
		li
		{
			padding  : 10px 20px 10px 25px;
			position : relative;
			z-index  : 999;

			&:hover
			{
				ul
				{
					display : block;
				}
			}

			&:after
			{
				content          : '';
				width            : 7px;
				height           : 7px;
				background-color : #FFF;
				border-radius    : 50%;
				position         : absolute;
				top              : 50%;
				left             : 0;
				margin-top       : -3.5px;
			}
			a
			{
				font-size   : 17px;
				font-family : @font_p;
				color       : #FFF !important;
				font-weight : 400;
				padding     : 0 !important;
				display     : block;
				position    : relative;

				&:after
				{
					width            : 100%;
					height           : 2px;
					background-color : #FFF;
					content          : '';
					display          : block;
					position         : absolute;
					left             : 0;
					bottom           : -2px;
					opacity          : 0;
				}

				&:hover
				{
					&:after
					{
						opacity : 1;
					}
				}
			}

			&:first-child
			{
				padding-left : 0;

				&:after
				{
					display : none;
				}
			}

			ul
			{
				position         : absolute;
				left             : -50%;
				top              : 42px;
				border-top       : 3px solid #FFF;
				background-color : #00B8CE;
				width            : 235px;
				padding          : 0;
				display          : none;

				li
				{
					&:after
					{
						display : none;
					}

					list-style  : none;
					padding     : 0;
					text-align  : center;
					line-height : 29px;

					.current-menu-item
					{
						a
						{
							color : #F0831F !important;
						}
					}

					a
					{
						&:after
						{
							display : none;
						}

						&:hover
						{
							color           : #F0831F !important;
							text-decoration : none;
						}
					}
				}

			}
		}

	}
}

// wrapper

.b-TopBanner
{
	width    : 100%;
	height   : 590px;
	overflow : hidden;
	position : relative;

	.item
	{
		top                     : 0;
		left                    : 0;
		width                   : 100%;
		height                  : 590px;
		-webkit-background-size : cover;
		background-size         : cover;
		background-position     : center;
	}

	&.five_img
	{
		.item_image
		{
			-webkit-background-size : cover;
			background-size         : cover;
			background-position     : center;

			&:first-child, &:nth-child(2), &:last-child, &:nth-child(4)
			{
				width    : 20%;
				height   : 50%;
				position : absolute;
			}

			&:first-child
			{
				left : 0;
				top  : 0;
			}

			&:nth-child(2)
			{
				left   : 0;
				bottom : 0;
			}

			&:nth-child(3)
			{
				width    : 60%;
				height   : 100%;
				display  : inline-block;
				*display : inline;
				*zoom    : 1;
			}

			&:last-child
			{
				right  : 0;
				bottom : 0;
			}

			&:nth-child(4)
			{
				right : 0;
				top   : 0;
			}
		}
	}

	&.one_image
	{
		.item_image
		{
			-webkit-background-size : cover;
			background-size         : cover;
			background-position     : center;
			position                : absolute;
			width                   : 100%;
			height                  : 100%;
			left                    : 0;
			top                     : 0;

			img
			{
				margin-top : 100px;
			}
		}
	}
}

.booking_block
{
	li
	{
		font-size     : 17px !important;
		margin-bottom : 0 !important;
	}

	.image_content_right
	{
		border : none !important;
	}

	.img_content
	{
		img
		{
			width : 80%;
		}
	}
}

.contact_information
{
	.social_link
	{
		display       : block;
		margin-bottom : 20px;

		&:hover, &:focus
		{
			text-decoration : none;
			opacity         : 0.9;
		}
	}

	.image_content_right
	{
		height   : 405px;
		position : relative;
		iframe
		{
			width  : 100%;
			height : 100%;
		}

		a
		{
			position : absolute;
			width    : 100%;
			height   : 100%;
			top      : 0;
			left     : 0;
			display  : block;
		}
	}
	a
	{
		i
		{
			width            : 45px;
			height           : 45px;
			vertical-align   : middle;
			background-color : #13C0D7;
			font-size        : 31px;
			line-height      : 45px;
			text-align       : center;
		}
	}
}

.page_beautyBg
{
	.beauty_wrap
	{
		height   : auto;
		position : relative;
	}
	.beauty_bg_1
	{
		background-image        : url('../i/bg/beauty_bg.png');
		position                : absolute;
		width                   : 100%;
		height                  : 100%;
		top                     : 0;
		left                    : 0;
		-webkit-background-size : 100%;
		background-size         : 100%;
		z-index                 : -3;
		background-repeat       : no-repeat;
	}
}

.edication_end
{
	border-top : 0;
	margin-top : -15px;

}

.b-education-block
{
	position : relative;
	overflow : hidden;
	.image_down
	{
		position   : absolute;
		text-align : left;
		right      : auto !important;
		left       : 0;
		bottom     : 30%;
		z-index    : 999999;
		display    : block;

		img
		{
			width : 50%;
		}
	}
	.image
	{
		position   : absolute;
		right      : 20px;
		text-align : right;
		top        : 50%;

		img
		{
			width : 50%;
		}
	}
	.activity-image
	{
		margin-bottom : 0 !important;
		overflow      : hidden;
	}

	.col-lg-4
	{
		&:nth-child(12n) .b-education-block-item__down, &:nth-child(12n - 7) .b-education-block-item__down, &:nth-child(12n - 9) .b-education-block-item__down
		{
			background-color : #13C0D7;
		}

		&:nth-child(12n -1) .b-education-block-item__down, &:nth-child(12n - 5) .b-education-block-item__down
		{
			background-color : #FFB718;
		}

		&:nth-child(12n - 3) .b-education-block-item__down, &:nth-child(12n - 8) .b-education-block-item__down, &:nth-child(12n - 10) .b-education-block-item__down
		{
			background-color : #F0831F;
		}
	}
	&-item
	{
		&__down
		{
			min-height       : 210px;
			padding          : 15px;
			background-color : #008EC3;
			position         : relative;

			&:after
			{
				content          : '';
				display          : block;
				width            : 48px;
				height           : 56px;
				position         : absolute;
				bottom           : 0;
				right            : 10px;
				background-image : url('../i/bg/bookmark.png');
			}
		}

		&__title
		{
			font-size   : 19px;
			color       : #FFF;
			font-weight : 400;

			a
			{
				color : #FFF;
			}
		}

		&__text
		{
			color       : #FFF;
			font-size   : 14px;
			width       : 70%;
			line-height : 16px;
			position    : absolute;
			bottom      : 15px;
			font-weight : 400;
		}
	}
}

.owl-dots
{
	position   : relative;
	text-align : center;
	top        : -50px;

	.owl-dot
	{
		display          : inline-block;
		*display         : inline;
		*zoom            : 1;
		width            : 20px;
		height           : 20px;
		margin-right     : 5px;
		background-color : #FFF;

		&:last-child
		{
			margin-right : 0;
		}

		&.active, &:hover
		{
			background-color : #13C0D7;
		}
	}
}

.b-title__h1
{
	font-size   : 38px;
	color       : #FFF;
	font-weight : 400;
	line-height : 38px;
}

.b-content
{
	padding  : 55px 0;
	position : relative;
	overflow : hidden;

	&__ellipse
	{
		.backgroud
		{
			position      : absolute;
			width         : 100%;
			height        : 400%;
			top           : -40%;
			left          : -20%;
			border-radius : 100%;
			z-index       : -1;
		}

		.image
		{
			position   : absolute;
			right      : 20px;
			text-align : right;

			img
			{
				width : 70%;
			}
		}
	}

	&__square
	{
		border-top : 9px solid #FFF;
		.backgroud
		{
			position : absolute;
			width    : 100%;
			height   : 100%;
			top      : 0;
			left     : 0;
			z-index  : -1;
		}

		.image
		{
			position   : absolute;
			right      : 20px;
			text-align : right;

			img
			{
				width : 70%;
			}
		}
	}

	&__title
	{
		font-size     : 34px;
		color         : #FFF;
		font-weight   : 400;
		line-height   : 38px;
		margin-bottom : 20px;

		a
		{
			color : #FFF;

			&:hover, &:focus
			{
				color           : #FFF;
				text-decoration : underline;
			}
		}
	}

	&__text
	{
		color     : #FFF;
		font-size : 17px;

		ul
		{
			padding : 0;
			li
			{
				list-style    : none;
				font-size     : 16px;
				line-height   : 25px;
				margin-bottom : 30px;
				position      : relative;
				padding-left  : 30px;

				&:before
				{
					width            : 5px;
					height           : 5px;
					border-radius    : 50%;
					background-color : #FFF;
					content          : '';
					position         : absolute;
					left             : 0;
					top              : 9px;
				}

				&:last-child
				{
					margin-bottom : 0;
				}
			}
		}
	}

	.image_content_right
	{
		border : 11px solid #FFF;
		img
		{
			width : 100%;
		}

		&.background_block
		{
			position   : relative;
			margin-top : 60px;

			&:before
			{
				content          : '';
				width            : 136%;
				height           : 122%;
				position         : absolute;
				z-index          : -1;
				left             : -86px;
				background-size  : 100%;
				top              : -75px;
				background-image : url('../i/bg/art_walls_bg.png');
			}
		}
	}

	.image_content
	{
		position : relative;
		left     : -118px;
		top      : 70px;

		&.centered
		{
			top : 50% !important;
		}

		img
		{
			width : 210px;
		}
	}

	.location_map
	{

		font-size : 12px;

		a
		{
			color : #FFF;

			&:hover
			{
				text-decoration : underline;
			}

			span
			{
				width      : 209px;
				display    : block;
				text-align : center;
				color      : #FFF;
				margin-top : 15px;
			}

		}
	}

}

.see_block
{
	.image img
	{
		width : 80%;
	}
}

.b-news
{
	&__list
	{
		.b-title__h1
		{
			margin : 70px 0;
		}

		.image
		{
			top   : 30px;
			right : 60px;
		}

		.b-content__title
		{
			margin-top    : 0;
			margin-bottom : 25px;
		}

		.b-education-block-item__down
		{
			min-height       : 180px;
			background-color : #F1841F;

			&:after
			{
				opacity : 0;
			}
		}

		.b-calendar_list
		{
			position : relative;
			top      : 100px;
		}

		.b-tab__content
		{
			.b-education-block-item__down:after
			{
				opacity : 1 !important;
			}

			display : none;

			&.activate
			{
				display : block;
			}

			.b-content__title
			{
				margin-bottom : 70px;
			}
		}

		.see_title
		{
			margin-bottom : 35px;
		}

		.blue_bg
		{

			.b-education-block-item__down
			{
				background-color : #00B9CF !important;
			}
		}

		.b-activities-nav__list
		{
			margin-bottom : 50px;
		}

		.b-education-block-item__title
		{
			line-height : 21px;
		}

		.link_news
		{
			display    : inline-block;
			*display   : inline;
			*zoom      : 1;
			margin-top : 10px;
			color      : #FFF;
			&:after
			{
				display                 : inline-block;
				font                    : normal normal normal 14px/1 FontAwesome;
				font-size               : inherit;
				text-rendering          : auto;
				-webkit-font-smoothing  : antialiased;
				-moz-osx-font-smoothing : grayscale;
				content                 : "\f105";
				position                : relative;
				left                    : 5px;
				top                     : 1px;
			}
		}
	}
}

.b-calendar_list
{
	ul
	{
		padding : 0;
		margin  : 0;

		li
		{
			display          : inline-block;
			*display         : inline;
			*zoom            : 1;
			vertical-align   : top;
			list-style       : none;
			text-align       : center;
			width            : 72px;
			padding          : 5px 0;
			margin-right     : 5px;
			background-color : #00B9CF;

			&:hover, &.activate
			{
				background-color : #FD8204;

				a
				{
					text-decoration : none;
				}
			}

			&:last-child
			{
				margin-right : 0;
			}

			a
			{
				color       : #FFF;
				font-size   : 17px;
				font-weight : 400;
				display     : block;
			}
		}
	}
}

.art_walls
{
	strong
	{
		font-size   : 17px;
		font-weight : 400;
	}

	.b-content__text
	{
		font-size : 14px;
	}
}

.b-links_block
{
	background-color : #13C0D7;

	&__item
	{
		display     : block;
		padding     : 20px 30px;
		color       : #FFF;
		font-weight : 400;

		&:hover
		{
			text-decoration : none;
			span
			{
				text-decoration : none !important;
				color           : #FFF;
			}
		}
	}

	&__title
	{
		font-size     : 32px;
		display       : block;
		line-height   : 32px;
		margin-bottom : 15px;
	}

	&__link
	{
		font-size : 15px;

		i
		{
			font-size : 25px;
			position  : relative;
			top       : 4px;
			left      : 11px;
		}
	}

	.col-sm-4
	{
		&:hover
		{
			opacity : 0.8;
		}
		background-color : #008EC3;

		&:nth-child(2)
		{
			background-color : #F0831F;
		}

		&:last-child
		{
			background-color : #F7B523;
		}
	}
}

.b-social-header
{
	a
	{
		display        : inline-block;
		vertical-align : top;
		color          : #FFF;
		font-size      : 17px;
		margin-top     : 10px;
		margin-right   : 10px;

		&:hover
		{
			color : #FFF;
		}

		&:last-child
		{
			margin-right : 0;
		}
	}
}

// navigation activities

.b-activities-nav
{
	background-color : #13C0D7;
	padding          : 40px 0 0;
	border-top       : 9px solid #FFF;

	&__list
	{
		background-color : #FFF;
		margin-left      : -5px;
		margin-right     : -5px;
		padding          : 10px 5px 0;

		.col-lg-4
		{
			padding-left  : 5px;
			padding-right : 5px;

			&:first-child
			{
				.b-activities-nav__item
				{
					.activity-text
					{
						background-color : #FD8204;
					}
				}
			}
			&:nth-child(2)
			{
				.b-activities-nav__item
				{
					.activity-text
					{
						background-color : #0094CA;
					}
				}
			}
			&:nth-child(3)
			{
				.b-activities-nav__item
				{
					.activity-text
					{
						background-color : #FFB718;
					}
				}
			}
			&:nth-child(4)
			{
				.b-activities-nav__item
				{
					.activity-text
					{
						background-color : #0094CA;
					}
				}
			}
			&:nth-child(5)
			{
				.b-activities-nav__item
				{
					.activity-text
					{
						background-color : #1E2360;
					}
				}
			}
			&:nth-child(6)
			{
				.b-activities-nav__item
				{
					.activity-text
					{
						background-color : #FD8204;
					}
				}
			}

		}
	}

	&__item
	{
		margin-bottom : 10px;
		overflow      : hidden;
		position      : relative;

		&:hover
		{
			img
			{
				transform : scale(1.2) !important;
			}

			.activity-text
			{
				text-decoration : none;
			}

		}

		.activity-image
		{
			display       : block;
			margin-bottom : 40px;

			img
			{
				width      : 100%;
				transform  : scale(1);
				transition : all .2s ease-in-out;
			}
		}

		.activity-text
		{
			background-color : #FD8204;
			font-size        : 24px;
			color            : #FFF;
			font-weight      : 400;
			display          : block;
			z-index          : 1000;
			position         : absolute;
			bottom           : 0;
			width            : 100%;
			transition       : all .2s ease-out;
			transition-delay : .2s;

			&:hover
			{
				text-decoration : none;
			}

			.icon_link
			{
				float            : right;
				height           : 44px;
				width            : 44px;
				border-left      : 1px solid #FFF;
				transition       : all .2s ease-out;
				transition-delay : .2s;

				i
				{
					top       : 4px;
					position  : relative;
					font-size : 33px;
				}
			}

		}

		.activity-title
		{
			padding  : 5px 15px;
			display  : inline-block;
			*display : inline;
			*zoom    : 1;
		}
	}
}

.activity-slider
{
	border : 12px solid #FFF;

	img
	{
		width : 100%;
	}
	.owl-prev
	{
		width            : 56px;
		height           : 56px;
		left             : -83px !important;
		background-image : url('../i/src/arrow_slide.png');
		-ms-transform    : rotate(180deg) translate(0, 50%) !important;
		transform        : rotate(180deg) translate(0, 50%) !important;
	}

	.owl-next
	{
		width            : 56px;
		height           : 56px;
		right            : -83px !important;
		background-image : url('../i/src/arrow_slide.png');
	}
}

// footer
.b-posts-instagram
{
	background-color : #13C0D7;
	padding          : 60px 0 30px 0;
	position         : relative;

	&:before
	{
		content             : '';
		position            : absolute;
		top                 : 35px;
		left                : 0;
		width               : 100%;
		height              : 7px;
		background-image    : url('../i/bg/dots_bg.png');
		background-position : 0 0;
		background-repeat   : repeat-x;
	}

	&__title
	{
		font-size     : 34px;
		color         : #FFF;
		text-align    : center;
		margin-bottom : 30px;
		font-weight   : 300;
	}

	&__item
	{
		float    : left;
		width    : 20%;
		overflow : hidden;

		&:hover
		{
			img
			{
				transform : scale(1.2);
			}
		}

		a
		{
			display : block;

			img
			{
				-webkit-transition : all 0.5s;
				transition         : all 0.5s;
				width              : 100%;
			}
		}
	}
}

.b-footer
{
	background-color : #0094CA;
	padding          : 65px 0;

	.footer-menu
	{
		&__title
		{
			font-size   : 16px;
			font-weight : 400;
			color       : #FFF;
		}

		&__span
		{
			font-weight : 300;
			color       : #FFF;
		}
		ul
		{
			padding : 0;

			li
			{
				list-style : none;

				a, span
				{
					font-weight : 300;
					font-size   : 16px;
					color       : #FFF;

					i
					{
						margin-right : 5px;
					}
				}
			}
		}
	}

	.footer-form
	{
		position   : relative;
		margin-top : 20px;

		input
		{
			background-color : transparent;
			border           : 1px solid #80CAE5;
			padding          : 10px;
			width            : 100%;
			color            : #FFF;

			&::-webkit-input-placeholder
			{
				color : #FFF;
			}

			&::-moz-placeholder
			{
				color : #FFF;
			}

			&:-ms-input-placeholder
			{
				color : #FFF;
			}

		}

		button
		{
			position         : absolute;
			border           : 0;
			right            : 0;
			top              : 0;
			font-size        : 35px;
			height           : 100%;
			width            : 42px;
			line-height      : 0;
			background-color : #FFF;
			color            : #0F9ACD;

			&:hover
			{
				opacity : 0.8;
			}
		}
	}
}

.b-copyright
{
	background-color : #13C0D7;
	padding          : 10px 0;

	span
	{
		color     : #FFF;
		font-size : 14px;
	}
}
