&success
{
	border-color : transparent;
	color        : #FFF !important;
	background   : @brand-success;

	&:hover,
	&:focus
	{
		background : lighten(@brand-success, 5%);

	}

	&@{b}_active,
	&:active
	{
		box-shadow : inset 3px 3px 2px darken(@brand-success, 5%);
		background : darken(@brand-success, 4%);
	}
}
