.contact-page
{
	@b : ~".contact-page";
	position : relative;

	@{b}__map
	{
		background : #333232;
		z-index    : 10;
		position   : absolute;
		top        : 0;
		left       : 0;
		right      : 0;
		bottom     : 0;
	}

	@{b}__board-outer
	{
		padding : 93px 0 245px;
	}
	@{b}__board-wrapper
	{
		position : relative;
		&:before
		{
			content  : '';
			display  : block;
			position : absolute;
			border   : 1px solid #A19F9D;
			top      : -33px;
			left     : 162px;
			right    : 162px;
			bottom   : -36px;
			z-index  : 11;
		}

		&:after
		{
			content     : '';
			display     : block;
			width       : 277px;
			height      : 20px;
			margin-left : -136px;
			position    : absolute;
			bottom      : -46px;
			left        : 50%;
			z-index     : 12;
			background  : url(~'@{imgPath}/bounces-points.png') 0px 0px no-repeat;
		}
	}
	@{b}__board
	{
		padding    : 30px 30px 45px;
		text-align : center;
		z-index    : 15;
		position   : relative;
		color      : #A19F9D;
		.rgba(#000, 0.9);

		@{b}__description:after,
		@{b}__address:after
		{
			content    : '';
			display    : block;
			width      : 250px;
			height     : 7px;
			margin     : 40px auto 35px;
			background : url(~'@{imgPath}/decoration-4.png') 0px 0px no-repeat;
		}
		@{b}__description
		{
			font-size   : 18px;
			font-weight : 100;
			line-height : 23px;
			max-width   : 340px;
			margin      : 0 auto;
			position    : relative;
			font-family : @font-family-sans-serif;
		}
		@{b}__address
		{
			font-size   : 22px;
			font-weight : 100;
			line-height : 37px;
			font-family : @font-family-sans-serif;

			&-row
			{
				margin : 3px 0;
			}
			.ico
			{
				margin-right   : 15px;
				vertical-align : middle;
			}

			a
			{
				font-size       : 20px;
				line-height     : 26px;
				border-bottom   : 1px solid #2E2D2D;
				text-decoration : none !important;

				&:hover
				{
					border-color : #A19F9D;
				}
			}
		}
	}

	@{b}__callback-btn
	{
		color            : #A19F9D;
		font-family      : @font-family-sans-serif-alt;
		font-size        : 21px;
		font-weight      : 100;
		line-height      : 25px;
		text-transform   : uppercase;
		letter-spacing   : 4px;
		background-color : #0F0600;
		padding          : 15px 45px;

		&:hover
		{
			background-color : lighten(#0F0600, 5%);
		}
		&:active
		{
			background-color : darken(#0F0600, 2%);
		}
	}

	@media (max-width : @screen-md-max)
	{
		@{b}__board-wrapper
		{
			&:before
			{
				left  : 30px;
				right : 30px;
			}
		}
	}
	@media (max-width : @screen-xs-max)
	{
		@{b}__board-wrapper
		{
			&:before
			{
				left  : -15px;
				right : -15px;
			}
		}

		@{b}__board
		{
			padding : 20px 10px 25px;
			@{b}__description
			{
				width : auto;

			}

			@{b}__address
			{
				font-size : 19px;
				a
				{
					font-size : 17px;
				}
			}
		}

		@{b}__callback-btn
		{
			font-size      : 19px;
			letter-spacing : 2px;
			padding        : 15px 20px;
		}
	}
}
