&feedback-contacts
{
	margin-bottom : 60px;
	padding-top   : 35px;
	margin-top    : 35px;
	font-weight   : 300;
	border-top    : 1px solid #009;

	@{b}__title
	{
		padding-top   : 12px;
		margin-bottom : 25px;
	}

	.form-group
	{
		margin-bottom : 17px;

		input.form-control,
		textarea.form-control
		{
			border-radius    : 0;
			background-color : #FFF;
			border-color     : #C8C8C8;
			color            : #868686;
			font-size        : 14px;
			box-shadow       : none;
			font-style       : italic;
			box-shadow       : none;
		}
		input.form-control
		{
			height      : 40px;
			line-height : 40px;
		}
		textarea.form-control
		{
			max-width : 100%;
		}

		@{b}__submit
		{
			font-weight    : 900;
			font-size      : 16px;
			text-transform : uppercase;
		}

	}
	@{b}__description
	{
		color       : #969595;
		font-size   : 15px;
		font-weight : 300;
		padding     : 15px 0;
		margin-left : -15px;
	}

	@media (max-width : @screen-sm-max)
	{
		@{b}__submit
		{
			width : 100%;
		}
	}
}
