&map
{
	max-height    : 400px;
	position      : relative;
	padding       : 19.5% 0 0;
	overflow      : hidden;
	min-height    : 360px;
	margin-bottom : 155px;

	@media (max-width : @screen-md-max)
	{
		margin-bottom : 45px;

		&:after
		{
			display : none;
		}
	}

	@media (max-width : @screen-sm-max)
	{
		min-height : 240px;
	}
}
