&@{b}_footer
{
	//margin     : 0 -@grid-gutter-width/2px;
	//margin : 49px percentage((1 / @grid-columns)/2);
	color         : #FFF;
	border-bottom : 1px solid #009;

	@{b}__list
	{
		text-align : justify;
		font-size  : 0;

		&:after
		{
			content : '';
			width   : 100%;
			display : inline-block;
		}
	}
	@{b}__item
	{
		display : inline-block;
		a
		{
			display         : block;
			text-decoration : none;
			color           : #2B2A28;
			font-size       : 14px;
			padding         : 15px 24px;

			&:hover
			{
				color : #009;
			}
		}
	}

	@media (max-width : @screen-sm-max)
	{
		@{b}__item
		{
			display    : block;
			text-align : center;

			a
			{
				padding       : 5px 20px;
				border-bottom : 1px solid @brand-primary;
			}
		}
	}
}
