&catalog-top
{
	@{b}__item
	{
		&-description
		{
			position  : absolute;
			left      : 50%;
			bottom    : 20px;
			width     : 100%;
			max-width : 602px;
			transform : translateX(-50%);
		}
	}

	.bx-wrapper
	{
		padding-bottom : 41px;

		.bx-controls .bx-pager
		{
			bottom : 0px;
		}
	}

	@media (max-width : @screen-sm-max)
	{
		@{b}__item
		{
			&-description
			{
				position  : relative;
				left      : auto;
				bottom    : auto;
				width     : 100%;
				max-width : none;
				transform : none;
			}

			&-title
			{
				font-size : 30px;
			}
		}
	}
}
