.social-list
{
	@b : ~'.social-list';
	list-style : none;
	padding    : 0;
	margin     : 0;

	@{b}__item > a
	{
		text-decoration : none;
		text-align      : center;

		.ico
		{
			//margin-top     : 2px;
			vertical-align : middle;
		}
	}

	@import "mod/include";
}
