.tooltip
{
	@tooltip-arrow-color: @brand-success;

	z-index : @zindex-tooltip;

	&-inner
	{
		background    : @brand-success;
		color         : #FFF;
		padding       : 5px 6px;
		border-radius : 4px;
	}

	&-arrow
	{
		z-index : @zindex-tooltip + 100;
	}
	&.top .tooltip-arrow
	{
		border-top-color : @tooltip-arrow-color;
	}
	&.top-left .tooltip-arrow
	{
		border-top-color : @tooltip-arrow-color;
	}
	&.top-right .tooltip-arrow
	{
		border-top-color : @tooltip-arrow-color;
	}
	&.right .tooltip-arrow
	{
		border-right-color : @tooltip-arrow-color;
	}
	&.left .tooltip-arrow
	{
		border-left-color : @tooltip-arrow-color;
	}
	&.bottom .tooltip-arrow
	{
		border-bottom-color : @tooltip-arrow-color;
	}
	&.bottom-left .tooltip-arrow
	{
		border-bottom-color : @tooltip-arrow-color;
	}
	&.bottom-right .tooltip-arrow
	{
		border-bottom-color : @tooltip-arrow-color;
	}
}
