@{b}__header
{
	@header-height : 140px;
	position : relative;

	.header__toptop
	{
		margin-bottom : 77px;

		@{b}_inner&
		{
			margin-bottom : 65px;
		}
		@{b}_catalog&
		{
			margin-bottom : 35px;
		}
	}

}
