&@{b}_grid
{
	z-index        : 1;
	margin-right   : -4px;
	margin-bottom  : 100px;
	display        : inline-block;
	float          : none;
	vertical-align : top;

	@{b}__link
	{
		text-decoration : none !important;
	}
	@{b}__image-wrapp
	{
		display : block;
		img
		{
			.img-grayscale();
			-webkit-transition : all 600ms;
			-moz-transition    : all 600ms;
			-ms-transition     : all 600ms;
			-o-transition      : all 600ms;
			transition         : all 600ms;
		}
	}

	@{b}__title
	{
		color           : #BBB;
		font-family     : @font-family-sans-serif;
		font-size       : 18px;
		font-weight     : 100;
		line-height     : 29px;
		text-align      : center;
		margin          : 20px 0 0;
		display         : block;
		text-decoration : none !important;
	}

	&:hover
	{
		@{b}__title
		{
			color : #CCCBCA;
		}
		@{b}__image-wrapp
		{
			img
			{
				-webkit-filter : none;
				filter         : none;
			}
		}
	}

}
