.ik_select
{
	@input-height : 36px;
	@border-radius : 0px;

	z-index            : 2;
	position           : relative;
	display            : block;
	width              : 100%;
	height             : @input-height;
	line-height        : 1.42;
	vertical-align     : middle;
	background         : transparent;
	color              : #4C4C4C;
	-webkit-transition : border-color ease-in-out 0.15s;
	transition         : border-color ease-in-out 0.15s;
	//border             : 1px solid @brand-silver;
	//font-size          : 11px;

	&_link
	{
		height        : @input-height;
		line-height   : @input-height;
		color         : #868686;
		border-radius : @border-radius;

		&_focus
		{
			border-color : #9DC02E;
		}
		&_disabled
		{
		}

		&_inner
		{
			position : relative;
			cursor   : pointer;
		}
		&_text
		{
			display          : block;
			overflow         : hidden;
			white-space      : nowrap;
			-o-text-overflow : ellipsis;
			text-overflow    : ellipsis;
			color            : #868686;
		}
	}
	&_dropdown
	{
		top : 40px;
	}
	&_dropdown_icon
	{
		position : absolute;
		top      : 13px;
		right    : 0;
		z-index  : 6;
		cursor   : pointer;
	}
	&_list
	{
		color          : #A19F9D;
		background     : #2A2928;
		border         : 1px solid #989694;
		padding-bottom : 5px;

		ul
		{
			list-style : none;
			padding    : 0;
			margin     : 0;
		}
	}
	&_option
	{
		padding : 10px 17px 6px;
		cursor  : pointer;
	}
	&_hover
	{
		background : darken(#2A2928, 4%);
	}
	&_active
	{
		background : darken(#2A2928, 10%);
	}
	&_filter_wrap
	{
		padding : 5px 15px
	}
	&_filter
	{
		border-radius : @border-radius;
		display       : block;
		border        : 1px solid #5E6A7D;
		font-weight   : 300;
		width         : 100% !important;
		padding       : 0;
		height        : 30px;
	}

	&_nothing_found
	{
		padding    : 7px 17px;
		color      : #AC4747;
		text-align : center;
	}

	select
	{
		height : 0 !important;
	}
}
