&success
{
	overflow      : hidden;
	border-radius : 5px;
	padding       : 35px 25px;
	@{b}__title
	{
		font-size   : 30px;
		line-height : 30px;
		font-weight : 900;
		color       : #323232;
	}

	@{b}__body
	{
		padding-right : 240px;
		color         : #646363;
		font-size     : 16px;
		font-weight   : 300;
	}
	@{b}__bounce
	{
		z-index          : 5;
		height           : 370px;
		line-height      : 370px;
		width            : 370px;
		border-radius    : 185px;
		background-color : #313131;
		position         : absolute;
		right            : -130px;
		top              : 50%;
		transform        : translate(0, -50%);
		padding-left     : 80px;
	}

	@{b}__close
	{
		z-index         : 10;
		color           : #FFF;
		font-family     : "OpenSans", sans-serif;
		font-size       : 12px;
		text-decoration : underline;
		width           : auto;
		padding         : 10px 22px;
		line-height     : 24px;
		height          : auto;

		&-icon
		{
			margin-left : 10px;
		}

		&-button
		{
			color          : #FFF;
			font-size      : 16px;
			font-weight    : bold;
			margin-top     : 20px;
			text-transform : uppercase;
			padding        : 6px 33px;
		}
	}

	@media (min-width : @screen-sm-min)
	{
		width     : 610px !important;
		max-width : none;
	}

	@media (max-width : @screen-xs-max)
	{
		padding : 15px;

		@{b}__title
		{
			font-size : 25px;
		}

		@{b}__body
		{
			padding : 0;
		}

		@{b}__bounce
		{
			display : none;
		}

		@{b}__close-button
		{
			margin-top : 10px;
			font-size  : 15px;
			width      : 100%;
			text-align : center;
		}
	}
}
