// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs
{
	> li
	{
		// Actual tabs (as links)
		> a
		{
			color            : @nav-tabs-link-color;
			background       : @nav-tabs-link-bg;
			margin-right     : -1px;
			border           : 1px solid @nav-tabs-border-color;
			border-top-color : #FFF;
			border-radius    : 0;
			font-size        : @nav-tabs-link-size;

			&:after
			{
				content       : '';
				display       : block;
				border-bottom : 2px dotted;
				margin-top    : -2px;
			}

			&:hover
			{
				color        : @nav-tabs-link-hover-color;
				background   : @nav-tabs-link-hover-bg;
				border-color : @nav-tabs-active-link-hover-border-color @nav-tabs-border-color @nav-tabs-border-color @nav-tabs-border-color;

				&:after
				{
					display : none;
				}
			}
		}

		// Active state, and its :hover to override normal :hover
		&.active > a
		{
			&,
			&:hover,
			&:focus
			{
				position         : relative;
				color            : @nav-tabs-active-link-hover-color;
				background-color : @nav-tabs-active-link-hover-bg;
				border-color     : @nav-tabs-active-link-hover-border-color @nav-tabs-border-color @nav-tabs-active-link-hover-bg @nav-tabs-border-color !important;
			}

			&:before
			{
				display    : block;
				height     : 5px;
				background : @nav-tabs-active-link-hover-border-color;
				content    : '';
				position   : absolute;
				left       : -1px;
				right      : -1px;
				top        : -1px;
				z-index    : 1;
			}

			&:after
			{
				display : none;
			}

		}
	}
}
