&contacts
{
	display   : block;
	font-size : 0;

	@{b}__item
	{
		margin         : 0 15px 35px;
		display        : inline-block;
		vertical-align : top;
		.opacity(0.8);
		&:hover
		{
			.opacity(1);
		}
	}
}
