&lightgreen
{
	@background:#3EDD72;
	border-color : transparent;
	color        : #FFF !important;
	background   : @background;

	&:hover,
	&:focus
	{
		background : lighten(@background, 5%);

	}

	&@{b}_active,
	&:active
	{
		box-shadow : inset 3px 3px 2px darken(@background, 5%);
		background : darken(@background, 4%);
	}
}
