&danger
{
	border-color : transparent;
	color        : #FFF !important;
	background   : @brand-danger;

	&:hover,
	&:focus
	{
		background : lighten(@brand-danger, 5%);

	}
	&@{b}_active,
	&:active
	{
		box-shadow : inset 3px 3px 2px darken(@brand-danger, 5%);
		background : darken(@brand-danger, 4%);
	}
}
