.ext-slider
{
	@b : ~".ext-slider";

	.bx-viewport
	{
		//overflow : auto !important;
	}
	&__list
	{
		margin  : 0;
		padding : 0;
	}

	@{b}__item
	{
		position : relative;

		&-description
		{
			z-index            : 10;
			position           : relative;
			margin             : 0 auto;
			-webkit-transition : all 400ms;
			-moz-transition    : all 400ms;
			-ms-transition     : all 400ms;
			-o-transition      : all 400ms;
			transition         : all 400ms;
			padding            : 30px 30px;
			text-align         : center;
			.rgba(#000, 0.8);
		}
		&-title
		{
			color       : #A19F9D;
			font-family : @font-family-serif;
			font-size   : 51px;
			font-weight : 400;
			line-height : 61px;

			&:after
			{
				content    : '';
				background : url(~'@{imgPath}/decoration-2.png') 0 0 no-repeat;
				.size(230px, 17px);
				display    : block;
				margin     : 10px auto 3px;
			}
		}
		&-text
		{
			color       : #BBB;
			font-size   : 18px;
			font-weight : 100;
		}

		&[aria-hidden=false]
		{
			@{b}__item-description
			{
				transition-delay : 300ms;
			}
		}
	}

	.bx-wrapper .bx-controls .bx-pager
	{

		.bx-pager-link
		{
			border     : 1px solid #A19F9D;
			background : none;
			.square(8px);
			overflow   : hidden;

			&:hover,
			&.active
			{
				background : #A19F9D;
			}
		}
	}

	@media (max-width : @screen-xs-max)
	{
		@{b}__item
		{
			&-about
			{
				position          : relative;
				top               : 0;
				left              : 0;
				right             : 0;
				margin            : 0;
				-webkit-transform : none;
				-moz-transform    : none;
				-ms-transform     : none;
				-o-transform      : none;
				transform         : none;
			}

			&-title
			{
				display      : block;
				margin-left  : -(@grid-gutter-width/2);
				margin-right : -(@grid-gutter-width/2);
			}
			&-text
			{
				margin-left  : -(@grid-gutter-width/2);
				margin-right : -(@grid-gutter-width/2);
				max-width    : none;
			}
		}
	}

	@import "mods/include";
}
