&@{b}_header
{
	text-align : center;

	@{b}__list
	{
		margin    : 53px 0 0;
		font-size : 0;
	}

	@{b}__item
	{
		display        : inline-block;
		vertical-align : middle;
		> a
		{
			padding         : 11px 18px;
			display         : block;
			text-decoration : none;
			color           : darken(#A19F9D, 3%);
			font-family     : @font-family-base;
			font-weight     : 300;
			font-size       : 13px;
			text-transform  : uppercase;
		}

		&:hover > a
		{
			color : lighten(#A19F9D, 4%);
		}
		&.active > a,
		& > a:active
		{
			color : #333;
		}

		&.active > a
		{
			font-weight : 700;
		}

	}

	@{b}__hamburger
	{
		display            : none;
		width              : 50px;
		height             : 50px;
		margin             : 0;
		position           : relative;
		-webkit-transform  : rotate(0deg);
		-moz-transform     : rotate(0deg);
		-o-transform       : rotate(0deg);
		transform          : rotate(0deg);
		-webkit-transition : .5s ease-in-out;
		-moz-transition    : .5s ease-in-out;
		-o-transition      : .5s ease-in-out;
		transition         : .5s ease-in-out;
		cursor             : pointer;
		position           : absolute;
		right              : 20px;
		top                : 22px;

		i
		{
			background         : #A3A09E;
			display            : block;
			position           : absolute;
			left               : 0;
			height             : 1px;
			width              : 50px;
			opacity            : 1;
			-webkit-transform  : rotate(0deg);
			-moz-transform     : rotate(0deg);
			-o-transform       : rotate(0deg);
			transform          : rotate(0deg);
			-webkit-transition : all .25s ease-in-out;
			-moz-transition    : all .25s ease-in-out;
			-o-transition      : all .25s ease-in-out;
			transition         : all .25s ease-in-out;

			&:nth-child(1)
			{
				top : 9px;
			}
			&:nth-child(2)
			{
				top        : 50%;
				margin-top : -1px;
			}
			&:nth-child(3)
			{
				bottom : 9px;
			}
		}

		&[aria-expanded="true"] i:nth-child(1)
		{
			top               : 22px;
			-webkit-transform : rotate(135deg);
			-moz-transform    : rotate(135deg);
			-o-transform      : rotate(135deg);
			transform         : rotate(135deg);
		}
		&[aria-expanded="true"] i:nth-child(2)
		{
			left    : -60px;
			opacity : 0;
		}
		&[aria-expanded="true"] i:nth-child(3)
		{
			top               : 22px;
			-webkit-transform : rotate(-135deg);
			-moz-transform    : rotate(-135deg);
			-o-transform      : rotate(-135deg);
			transform         : rotate(-135deg);
		}
	}

	@media (min-width : @screen-md-min)
	{
		.collapse
		{
			display : block;
		}
	}
	@media (max-width : @screen-sm-max)
	{
		position : relative;
		padding  : 0;

		@{b}__hamburger
		{
			display : block;
		}

		@{b}__list
		{
			margin : 0;
			float  : none !important;
		}

		@{b}__item
		{
			display : block;
			a
			{
				font-size      : 36px;
				font-weight    : 300;
				line-height    : 28px;
				padding        : 35px;
				text-transform : uppercase;
				color          : #A19F9D;
			}
		}

		@{b}__outer
		{
			float : none !important;

			&:first-child
			{
				margin-top : 55px;
			}
		}
	}
	@media (max-width : @screen-xs-max)
	{
		border : 0;

		@{b}__hamburger
		{
			//right : 0;
		}
	}
}
