<div class="popup mfp-hide" id="js-popup-feedback">
	<div class="popup__title">Fill the form, and our manager will contact you.</div>
	<div class="popup__content">
		<form data-jsform-data_type="json" method="post" action="/mailer.php" class="js-form">
			<div class="form-group">
				<label>
					<input type="text" name="form[feedback][name]" class="form-control" placeholder="NAME"/>
					<i class="form-control-icon ico ico_man-gray "></i>
				</label>
			</div>
			<div class="form-group">
				<label>
					<input type="text" name="form[feedback][email]" class="form-control" placeholder="E-MAIL"/>
					<i class="form-control-icon ico ico_phone-gray"></i>
				</label>
			</div>
			<div class="form-group">
				<label>
					<input type="text" name="form[feedback][phone]" class="form-control" placeholder="PHONE"/>
					<i class="form-control-icon ico ico_envelope-gray"></i>
				</label>
			</div>
			<input type="hidden" name="form[form_code]" value="feedback"/>
			<input type="submit" name="submit" value="FIRE AWAY" class="button button_wide button_theme-yellow button_size-large button_strong"/>
		</form>
	</div>
</div>
