<div class="popup popup_login mfp-hide text-center" id="popup-login">
	<div class="popup__title">Вход в личный кабинет</div>
	<div class="popup__content">
		<form method="post" action="" class="clearfix">
			<div class="form-group">
				<label for="name">Логин</label>
				<input type="text" id="name" name="form[feedback][name]" class="form-control" placeholder="NOOPE"/>
			</div>
			<div class="form-group">
				<label for="phone">Пароль</label>
				<input type="text" id="phone" name="form[feedback][phone]" class="form-control" placeholder="*********"/>
			</div>
			<a href="#" class="h-link">Напомнить пароль</a>
			<button type="submit" name="submit" class="popup__submit" >ВОЙТИ</button>
		</form>
	</div>
</div>
