<div class="popup mfp-hide text-center" id="popup-order">
	<div class="popup__title">Заказать услугу</div>
	<div class="popup__content">
		<form method="post" action="/" class="clearfix">
			<div class="form-group">
				<label for="name">Как к Вам обращаться?</label>
				<input type="text" id="name" name="form[feedback][name]" class="form-control" placeholder="Иван Василиевич Никола"/>
			</div>
			<div class="form-group">
				<label for="phone">Ваш телефон</label>
				<input type="text" id="phone" name="form[feedback][phone]" class="form-control" placeholder="+7 925 880 8888"/>
			</div>
			<div class="form-group col-md-10 col-md-offset-1 text-center">
				<label for="time_interval">Удобное время для звонка</label>
				<select name="" id="time_interval" class="js-custom-select">
					<option value="">
						утром
					</option>
					<option value="" selected>
						до полудня
					</option>
					<option value="">
						в полдень
					</option>
					<option value="">
						в сумерки
					</option>
					<option value="">
						в полночь
					</option>
				</select>
			</div>
			<button type="submit" name="submit" class="popup__submit" >Отправить</button>
		</form>
	</div>
</div>
