<div class="popup popup_success mfp-hide" id="js-popup-success">
	<div class="popup__body">
		<div class="popup__title">THANK YOU FOR YOUR INQUIRE</div>
		<div class="popup__content">
			<p>
				Оur manager will contact you soon.
			</p>
		</div>
	</div>
	<button onclick="$.magnificPopup.close()" class="popup__close-button button button_theme-yellow button_size-small button_strongп">
		CLOSE
	</button>
</div>
