.page-section
{
	@b : ~'.page-section';
	position      : relative;
	margin-bottom : 230px;

	@{b}__title
	{
		margin      : 10px 0;
		position    : relative;
		overflow    : hidden;
		text-align  : center;
		font-family : @font-family-serif;

		&:before,
		&:after
		{
			content    : '';
			position   : absolute;
			display    : block;
			top        : 50%;
			margin-top : -8px;
			z-index    : 2;
			height     : 17px;
			width      : 32%;
		}
		&:before
		{
			left       : 0;
			background : url(~'@{imgPath}/decoration-left.png') 100% 0 no-repeat;
		}
		&:after
		{
			right      : 0;
			background : url(~'@{imgPath}/decoration-right.png') 0 0 no-repeat;
		}

		.no-shadow-content
		{
			display     : block;
			color       : #A19F9D;
			font-size   : 50px;
			font-weight : 400;
			line-height : 61px;
			z-index     : 2;
			width       : 100%;
			position    : absolute;
			left        : 0;
			top         : 50%;
			transform   : translateY(-50%);
		}

		.shadow-content
		{
			display        : block;
			color          : #000;
			font-size      : 170px;
			font-weight    : 400;
			text-transform : uppercase;
			line-height    : 161px;
			z-index        : 1;

			&:before,
			&:after
			{
				content       : '';
				display       : block;
				border-bottom : 1px solid #A19F9D;
				width         : 31%;
				position      : absolute;
				top           : 50%;
			}
			&:before
			{
				left : -30px;
			}
			&:after
			{
				right : -30px;
			}
		}
	}

	@media (max-width : @screen-md-max)
	{
		@{b}__title
		{
			&:before,
			&:after
			{
				width : 25%;
			}

			.shadow-content
			{
				font-size   : 100px;
				line-height : 80px;
				&:before,
				&:after
				{
					width : 25%;
				}
			}
		}
	}

	@media (max-width : @screen-sm-max)
	{
		margin-bottom : 80px;
		border-bottom : 1px solid #A19F9D;

		@{b}__title:before,
		@{b}__title:after,
		@{b}__title .shadow-content
		{
			display : none;
		}

		@{b}__title .no-shadow-content
		{
			position  : static;
			top       : 0;
			transform : none;
		}

		&:after
		{
			content    : '';
			display    : block;
			position   : absolute;
			left       : 0;
			right      : 0;
			bottom     : -10px;
			background : url('@{imgPath}/bounces-points.png') center 0 no-repeat;
			height     : 19px;
		}
	}

	@import "mods/include";
}
